[2017-08-08 10:16] mhuusko5 opened #2 "You're doing the lord's work here, Nick."
That is all. 👍

[2017-08-08 10:55] nicklockwood commented on #2
Thanks!

[2017-08-08 10:55] #2 closed

[2017-08-09 07:21] eimantas opened #5 "Referencing elements inside XML"
How can I reference a sibling by its name inside an xml file? Let's say I'd like to have a couple of buttons aligned vertically. For now I found that I can only use `top` attribute with value relative to the elements parent (thus making it bigger the lower I want my button to go).

Can I somehow write an expression that I want my current button have vertical spacing of 8pt to the button before it?

[2017-08-09 08:54] eimantas opened #6 "Unable to change collection view's cell size"
Version: 0.48
iOS Sim: 11.0
Xcode: 9b5

The `collectionViewLayout.itemSize` attributes in `<UICollectionView>` tag don't seem to affect the outcome of how the cell is displayed in the loaded view. Tried it out in custom view as well as sample application. Hardcoding values or setting them as expressions doesn't seem to change anything at all.

[2017-08-09 12:57] nicklockwood commented on #5
You can reference properties of the previous or next siblings using `previous` and `next` respectively. So to position a button 8pts below the previous element, you'd say:

    <UIButton top="previous.bottom + 8"/>

If there is no previous sibling, `previous.bottom` will be zero.

[2017-08-09 13:11] nicklockwood commented on #6
This is a bug due to a misunderstanding of the collection view auto-sizing mechanism on my part. I'll put a fix in the next release, but for now a workaround is to add these attributes to your <UICollectionView>:

        collectionViewLayout.estimatedItemSize.width="0"
        collectionViewLayout.estimatedItemSize.height="0"

[2017-08-09 16:21] eimantas commented on #5
This works. Thanks!

[2017-08-09 16:21] #5 closed

[2017-08-09 16:21] #6 closed

[2017-08-09 20:24] hartbit opened #9 "Crash when spamming Cmd+R"
Here's the stack trace:

[code]

It triggers `cleanUp`'s `assert(_evaluating.isEmpty)`.

[2017-08-09 20:40] nicklockwood commented on #9
Thanks, I've seen this a couple of times, but it's hard to repro reliably. I'm fairly sure it's a re-entrancy issue of some sort.

[2017-08-10 06:23] eimantas opened #10 "`collectionViewLayout.minimumInteritemSpacing` is not respected"
Version: 0.48
Xcode: 9b5
iOS Sim: 11.0

The `collectionViewLayout.minimumInteritemSpacing` attribute in the `<UICollectionView>` tag is not respected through fixed value or constant.

[2017-08-10 07:58] nicklockwood commented on #10
This seems to be working in the SampleApp. Can you provide some XML that demonstrates the problem?

[2017-08-10 08:24] eimantas commented on #10
This is the minimum xml that reproduces the problem:

[code]

[2017-08-10 08:56] nicklockwood commented on #10
OK, I'm not much of an expert on UICollectionView, but this doesn't seem to be a Layout-specific problem, as a StackOverflow search reveals a lot of people with similar issues.

Using ` collectionViewLayout.minimumLineSpacing` instead of ` collectionViewLayout.minimumInteritemSpacing` seems to have the desired effect.

    collectionViewLayout.minimumLineSpacing="100"

[2017-08-10 09:06] eimantas commented on #10
If i hadn't read the documentation, I wouldn't say it makes sense. Then again, after reading it - it still doesn't make sense to me:

Emphasis mine.

[2017-08-10 09:07] #10 closed

[2017-08-10 09:47] nicklockwood commented on #9
OK, so this was a fun bug.

When Layout begins evaluating an expression it pushes the expression name onto the `_evaluating` stack, then pops it off again when it's done (this is done in order to detect infinite recursion).

The assertion that was failing checks that the `_evaluating` stack is empty when reloading the layout. Evaluation is done synchronously on the main thread, and pushes/pops of

[2017-08-10 11:47] eimantas opened #15 "`UINavigationController` usage"
How can I set a custom table view controller for the `UINavigationController`? Here's a thing that I have:

Main.xml
[code]

MyTableViewController.xml
[code]

ScrollViewController
[code]

The bug that I _think_ I found is that if root view controller for navigation controller inherits from view controller all works fine (I have print statement in `ScrollViewController.viewDidLoad` and it gets prin

[2017-08-10 13:03] eimantas opened #16 "Outlets are searched in view controller doing the layout node loading"
Version: 0.48
Xcode: 9b5
iOS Sim: 11.0

I am duplicating the approach to loading layouts provided by SampleApp. I have a MainViewController that loads `Main.xml` which provides `UITabBarViewController` with a couple of tabs.

The tabs though contain subclasses of `UIViewController` and `LayoutViewController` and the view that is nested under them contain elements with `outlet` attributes. I would

[2017-08-10 15:45] nicklockwood commented on #9
Fixed in 0.4.9

[2017-08-10 15:45] #9 closed

[2017-08-10 15:45] nicklockwood commented on #15
Fixed in 0.4.9

[2017-08-10 15:45] #15 closed

[2017-08-10 15:47] nicklockwood commented on #16
This looks like a bug, although there are some known limitations of the existing binding system, which are that it can't bind some outlets to the main controller and some to intermediate controllers, it has to bind all properties to the same owner, so is it possible that's the cause?

[2017-08-10 15:48] hartbit commented on #9
Glad you found the problem 👍

[2017-08-11 05:35] eimantas commented on #16
Sadly I can't tell since I don't know much about bindings.

[2017-08-11 05:41] eimantas opened #17 "Using UIKit's UIViewController subclasses result in weird behaviour"
Version: 0.49
Xcode: 9b5
iOS Sim: 11.0

This relates to issue #15. So this is still the same XML that I have for table view controller:

[code]

The thing that bugged me is that those tiny lines in the screenshot of #15 is two tables overlapping since `<MyTableViewController>` is a subclass of `UITableViewController` and not custom subclass of  `UIViewController` conforming to `UITableViewDataSour

[2017-08-11 07:01] nicklockwood commented on #16
Does your MainViewController have any properties whose names match the outlets of your child view controllers?

[2017-08-11 07:07] eimantas commented on #16
No. It just loads `Main.xml`

[2017-08-11 07:44] nicklockwood commented on #16
Can you paste in your XML? I'll look into it.

[2017-08-11 09:52] eimantas commented on #16
Main.xml

[code]

ScrollViewController.xml
[code]

ScrollViewController.swift

[code]

[2017-08-11 16:24] nicklockwood commented on #17
Yeah, it looks like UITableViewController support is pretty broken. I need to think about the best way to approach this, but for now I'd suggest that you use a regular UIViewController subclass instead of subclassing UITableViewController.

The problem is due to the fact that UITableViewController creates its own tableView. The problem with UICollectionViewController is essentially the same.

[2017-08-12 11:39] mkarp opened #20 "Guides for contributors"
Hey @nicklockwood! I would appreciate if you could publish a guide for contributors. I would like to make a pull request with some code changes and I don't know what your requirements are. I'd appreciate even a short outline of points.

First thing I'd like to know is what source file header comment to use. Is `//  Copyright © 2017 Schibsted. All rights reserved.` the one I should be using, even t

[2017-08-12 11:44] nicklockwood commented on #20
Yeah, I should add a contributing document.

If you're planning a significant feature or refactor, can you give me a brief outline of what you're planning? I don't want you to waste a lot of time if it's not something that's likely to be accepted.

[2017-08-12 11:49] mkarp opened #21 "Feature proposal: make LayoutTool return unix exit codes"
I'm currently working on a small thing when I'd like the LayoutTool to return unix exit codes: 0 for success, 1 for error. If LayoutTool is hooked in Build Phases, with proper exit codes Xcode will fail the build early if formatting fails. @nicklockwood do you think it's an addition worth doing?

[2017-08-12 11:50] mkarp commented on #20
I have some ideas for future contributions, however as I haven't used Layout yet in the real world so to say, I don't have any plans for feature or refactoring.

And for the thing I'm working on at the moment, I've opened a separate issue: https://github.com/schibsted/layout/issues/21

[2017-08-12 11:57] nicklockwood commented on #21
Yes please, that sounds great.

[2017-08-12 12:26] mkarp commented on #21
@nicklockwood There's one more thing that I'd like your input on. Currently, LayoutTool adds red colour to the error messages, which I think is very nice.

TIL Xcode has a useful feature: if output to the stderr contains an `error:` prefix, then this output will be shown among the errors. Compare these two screens:

<img width="1072" alt="screen shot 2017-08-12 at 14 05 07" src="https://user-image

[2017-08-12 13:50] nicklockwood commented on #21
Interesting. I'm curious how other tools handle this, as a lot of them use colors. Maybe the best option would be to display the errors themselves without color and then print a final success/failure message in red?

[2017-08-12 22:42] nicklockwood commented on #21
@mkarp I've pushed some changes that solve this in the way I suggested. Let me know if that works for you.

[2017-08-14 09:39] nicklockwood commented on #21
Implemented in 0.4.11

[2017-08-14 09:39] #21 closed

[2017-08-14 14:17] nicklockwood commented on #17
This is fixed in master. I'll roll it into the next release.

[2017-08-14 18:47] nicklockwood commented on #17
Fixed in 0.4.12

[2017-08-14 18:47] #17 closed

[2017-08-14 18:53] mkarp commented on #21
@nicklockwood Thank you very much! Works beautifully. However errors reported previously were a bit more descriptive:

<img width="1072" alt="screen shot 2017-08-14 at 20 51 38" src="https://user-images.githubusercontent.com/318902/29286444-6031578e-8132-11e7-9450-24b8d7e1498b.png">

I think that "XML validation error at {line}:{column}" gave better indication for the problems in XML files.

[2017-08-14 20:09] nicklockwood commented on #21
Oh, that's curious. That wasn't an intentional change. What XML produced that error?

[2017-08-14 20:12] mkarp commented on #21
I intentionally broken it (for testing purposes) with

[code]

Pretty much as on one of the screenshots above.

[2017-08-14 20:14] mkarp commented on #21
Apologies that the XML example is missing angle brackets — I'm writing from a phone and the app probably did some unintentional cleanup

[2017-08-14 22:17] nicklockwood commented on #21
@mkarp Sorry, it looks like I broke error messages in a subsequent refactor after making them work nicely :0) I've pushed a fixed version to master, and added a test so I don't break them again.

[2017-08-15 13:03] nicklockwood commented on #16
@eimantas sorry it's taken a while to get back to you.

I tried your sample code and I'm not seeing any errors. I thought perhaps I'd fixed the bug by accident, but I tried with 0.4.8 and I'm still not seeing the issue.

I also tried it on both Xcode 8.33 and Xcode 9b5, and it made no difference. If I delete one of the outlets, such as `imageContainer`, then I get an error saying that it doesn't e

[2017-08-16 10:57] mhuusko5 opened #24 "Feature discussion: template-y features"
This is likely outside of the current scope of the XML layouts, but I'm curious if you've thought at all about, for lack of a better description, more dynamic template-y features?

For example, an iterating/pasting construct like https://github.com/kylef/Stencil#example could be applied nicely to scenarios like https://github.com/schibsted/layout/blob/master/SampleApp/Examples.xml.

Basically any

[2017-08-16 11:01] mhuusko5 opened #25 "Readme clarification"
"Note, however, that the logic inside an action is executed when the layout is updated, not when the action is invoked."

^ I'm not sure what this means. Maybe it could be clarified.

[2017-08-16 12:02] eimantas commented on #24
I think this might be approached by using layout-specific tags and attributes. e.g.

[code]

[2017-08-16 13:12] nicklockwood commented on #24
This is definitely doable, but I'm not sure how useful it would be. I think there are generally two distinct categories of use-case for this feature:

1. A small number of repeated template nodes, e.g. for a settings page, or some other form
2. A large number of repeated template nodes, e.g. for a list of contacts or a timeline

For case 1, the best solution is to create a list of all possible nod

[2017-08-16 13:47] mhuusko5 commented on #24
@nicklockwood fair points. You have confirmed my fears about where this could go (abuse/churn) wise if fully dynamic on state. And agreed, straight lists are best kept to table/collection views, and bringing data source/config into the XML could make this smoother.

That said, I still think there could be a valid case here for template expressions to be applied once, based on initial constants or

[2017-08-17 07:02] nicklockwood commented on #25
Thanks, I'll update it.

[2017-08-17 08:18] eimantas commented on #16
Here's the project for this issue: https://github.com/eimantas/LayoutAppSandbox

I've bundled it with Layout 0.4.12  version and now instead of receiving error about missing outlets I see the error about missing `MyTableViewController.xml` file.

[2017-08-17 13:34] nicklockwood commented on #16
@eimantas OK this is very weird because I just checked out that project you gave me and it runs fine.

I wonder if the issue has something to do with the location on your hard drive. Maybe the path contains spaces or something that's confusing the live reloading?

Another possibility is you may have some junk in your build folder, and a clean build or deleting the app from the simulator might fix

[2017-08-17 14:01] eimantas commented on #16
Weird. I deleted ModuleCache and project directories in DerivedData and even reset the content and settings for the simulator. Still same error...

[2017-08-17 14:03] eimantas commented on #16
Another thing, if I rearrange the `<UIViewController>` tags in `Main.xml` like this:

[code]

The app starts complaining about missing `ScrollViewController.xml` file. 🤔

[2017-08-17 14:33] nicklockwood commented on #16
Here it is running on my machine, with the Main XML configured as above, and no other changes:

![2017-08-17 15_31_28](https://user-images.githubusercontent.com/546885/29417516-56b488a8-8361-11e7-95b7-8f1a1bdce117.gif)

[2017-08-17 14:36] eimantas commented on #16
I removed the precompiled framework and added a reference to Layout.xcodeproj file and linked against the framework built from source code. Issue is the same. Here is the file/project structure:

Layout.framework: /Users/eimantas/Development/layout/
LayoutApp: /Users/eimantas/Desktop/LayoutApp/

So no spaces, no fancy text, just plain ASCII characters. Here's another thing, I've added some print s

[2017-08-17 18:14] nicklockwood commented on #25
Hopefully it's now clearer.

[2017-08-17 18:14] #25 closed

[2017-08-17 18:15] nicklockwood commented on #16
I wasn't ever able to reproduce the issue, but hopefully the changes in 0.4.13 will have fixed this. Let me know if not.

[2017-08-17 18:15] #16 closed

[2017-08-18 21:40] funkyboy opened #26 "AppKit support"
Is there any plan to support AppKit as well?

[2017-08-18 22:12] nicklockwood commented on #26
Not in the short term, but it would make sense in future given the framework similarities.

[2017-08-20 12:13] bilsou opened #27 "Xcode 8.2.1 Swift 3.0.2 - Cannot compile"
As the title says, what Xcode/compiler version is supported by the library ?

[2017-08-21 11:54] nicklockwood commented on #27
Layout requires Xcode 3.3 and Swift 3.1

[2017-08-21 11:55] #26 closed

[2017-08-21 12:38] bilsou commented on #27
Fair enough, thank you. Might be worth putting in the README.

[2017-08-21 12:38] #27 closed

[2017-08-21 22:25] nicklockwood opened #30 "RFC: Towards a Stricter Typed Layout"
One of the main turn-offs with Layout as it stands is that it has relatively weak static type safety. There are two main areas where this is an issue:

1. When creating a LayoutNode, the view/controller, constants and state are all weakly-typed. The view must be cast to the correct sub-type, the constants are a json-like dictionary of [String: Any], and while state can be specified as a struct, ch

[2017-08-21 23:29] marius-serban commented on #30
How about, for starters, only making the state strict on `LayoutNode`:

[code]

[2017-08-22 00:05] nicklockwood commented on #30
@marius-serban you'd have to also add it as a parameter to all the various load functions, since you don't often create LayoutNodes directly.

If would also then mean that all children nodes would have to share the same State type, which would be problematic for situations like TableView where the cells don't share the state of their parent.

The only other problem I can see is that it would be a

[2017-08-22 10:17] nicklockwood commented on #20
@mkarp How about this? https://github.com/schibsted/layout/blob/82b6bab9c15765d2af189add3f9ccbc09377498a/CONTRIBUTING.md

[2017-08-22 10:25] hartbit commented on #30
I quite like the `LayoutNodeController` solution. It’s always a good idea to not tie too heavily to `UIViewController`. I’d love to see a test PR to play with to give more feedback.

[2017-08-22 11:45] mkarp commented on #20
Very nice, thank you!

One thing that made me think for a moment when creating a new PR: what file header to use for a newly created file? It mentions a copyright to Schibsted, and I wondered whether I should use it too. It would be awesome if you could clarify this point.

Nevertheless, I think the guide in its current state is already helpful, so please feel free to close this issue.

[2017-08-22 13:46] #20 closed

[2017-08-22 22:02] 3lvis commented on #20
👏

[2017-08-23 12:28] vmagaziy opened #33 "Height is not calculated correctly for table view cells when text or detail text labels contain multiline text"
Use sample application and change `text` of `textLabel` for `UITableView` to make it long enough and set `textLabel.numberOfLines="0"` to make text label multiline and observe the following:

![simulator screen shot 23 aug 2017 14 10 29](https://user-images.githubusercontent.com/1112653/29615323-c5f90602-880d-11e7-8099-3edc93473169.png)

The same issue can be observed when `detailTextLabel` contai

[2017-08-23 12:39] nicklockwood commented on #33
I'll see what I can do about this. In the meantime, adding your own UILabel to the cell as a subview should work correctly.

[2017-08-23 22:28] nixterrimus opened #35 "Stackview"
I spent a couple of minutes with Layout today and it's excellent!  I'm still figuring out how I can make use of it and I immediately wondered about using stacks.  They make life much easier in UIKit (UIStackView) and React Native (Flexbox).   I looked through the docs and didn't see anything about stacks, did I miss it?

There are many cases where I'd like to distribute the content to take up all

[2017-08-24 16:51] mrwcjoughin opened #36 "xml file not finding my UIViewController ?"
Despite having code exactly like the SampleApp, if I use my view controllers name in my xml file i get the red error in the simulator saying it can't find my view controller ?
But if i use UIViewController in the xml file it does find it ?
I have checked and rechecked and everything is spelt correctly, and everything has the right access modifier, but no matter what i do it can't find my viewcontr

[2017-08-24 16:52] mkarp commented on #36
It would be helpful if you publish your test project publicly so we can have a look.

[2017-08-24 16:56] mrwcjoughin commented on #36
here it is:
https://github.com/AdaptableApps/grobinson-styler-ios.git

its on the **dev** branch

[2017-08-24 19:00] nicklockwood commented on #35
`UIStackView` is fully supported. You can use it in XML just as you'd expect. Children nodes in a `UIStackView` are automatically added to `arrangedSubviews`.

[2017-08-24 19:09] nicklockwood commented on #35
Thanks for raising the lack of documentation - I'll fix that.

[2017-08-24 19:54] nicklockwood commented on #35
Hmm, checking it now, it looks like there have been some regressions in UIStackView support - notably using a StackView causes errors after a reload. I'll try to land a fix for that asap.

[2017-08-25 14:20] nicklockwood commented on #35
OK, I've fixed the regression and added some docs to the README in version 0.4.16

[2017-08-25 14:20] #35 closed

[2017-08-25 14:30] nicklockwood commented on #36
@mrwcjoughin it's because the app name "grobinson-styler-ios" is not a valid module name, and Layout doesn't correctly demangle it to "grobinson_styler_ios" (with underscores), which is what Swift uses for the module.

I'll try to fix this, but in the meantime you can make it work by using an explicit module namespace for all your custom classes in your XML, e.g.:

[code]

[2017-08-25 14:40] mrwcjoughin commented on #36
@nicklockwood aah, awesome, thanks that works. much appreciated

[2017-08-27 18:48] nixterrimus commented on #35
Thanks!

[2017-08-27 19:00] nixterrimus opened #37 "Pod install error"
When doing a pod install I get:

[code]

Cocoapods version:

[code]

I worked around this by doing:

[code]

[2017-08-27 19:02] nixterrimus opened #38 "Layout doesn't build with Xcode 9"
Building with Xcode 9 doesn't work unless Swift 3 is selected as the compiler

<img width="1419" alt="screen_shot_2017-08-27_at_11_58_23_am" src="https://user-images.githubusercontent.com/18454/29753127-7cdc2822-8b1f-11e7-94b1-26d299001b0a.png">

I realize Xcode 9 isn't out yet (and neither is the Swift 4 compiler) but I hope this issue helps someone who's wondering why their project isn't buildin

[2017-08-27 19:23] nixterrimus opened #39 "for (each) loop"
Is it possible to use a loop to iterate over a collection and output 1 element for each node within the template?

For example:

[code]

I would like to use a loop for:

[code]

[2017-08-27 20:46] nicklockwood commented on #37
Try running `pod spec update` in your terminal

[2017-08-27 20:51] nicklockwood commented on #39
It's not currently possible. See the discussion here for more details: http://github.com/schibsted/layout/issues/24

[2017-08-27 20:51] #39 closed

[2017-08-27 21:24] nixterrimus commented on #37
[code]

[2017-08-27 22:24] nicklockwood commented on #37
Sorry, I meant `pod repo update`

[2017-08-28 04:42] nixterrimus commented on #37
That fixes it, thanks!

[2017-08-28 04:42] #37 closed

[2017-08-28 08:05] nicklockwood commented on #38
Yeah, I don't think Swift 4 support will be backwards compatible, so I'll have to maintain it as a separate branch until Swift 3.2 can be dropped.

[2017-08-28 09:22] nicklockwood commented on #36
Fixed in 0.4.17

[2017-08-28 09:22] #36 closed

[2017-08-28 09:23] nicklockwood commented on #33
OK, I believe this is fixed in 0.4.17. I'm still seeing some funky spacing when using multiline `detailTextLabel`, but it sounds like that's a known issue in iOS per your comment.

[2017-08-28 09:23] #33 closed

[2017-08-28 19:20] nextriot opened #40 "UISegmentedControl support?"
Hi! Awesome work.

Is there support for UISegmentedControl? I tried the following:

[code]

Clearly I have a fundamental misunderstanding of how the element is supposed to work. It doesn't throw an error for the overall element, but does for both `items` & `children` properties.

I tried nesting elements within the control - also to no avail.

Is there some documentation that I missed that lists p

[2017-08-28 19:46] nicklockwood commented on #40
@nextriot UISegmentedControl is not really supported yet. You might be able to make it work by passing items in as a constant or state variable from native Swift code, but there's currently no way to specify array literals using expressions in XML.

[2017-08-28 21:45] nextriot commented on #40
@nicklockwood thanks for the speedy reply!

So given that I now have access to the constant in the xml, how would I then pass this as an attribute to the controller given that `items` is still seen as an unknown property? I went through the section on constants, but I'm not seeing a clear-cut way that specifies that.

[code]

[2017-08-28 22:21] nicklockwood commented on #40
@nextriot sorry, I should have checked the UISegmentedControl API more carefully - it seems that items isn't a real property, it's just a constructor argument for init, which isn't available in Layout without a custom extension.

The only way you can do it for now is to create an outlet for the UISegmentedControl and then set the items programmatically. Something like this:

[code]

Then in your v

[2017-08-28 22:55] nextriot commented on #40
That's brilliant! Thanks again @nicklockwood. Looking forward to it.

[2017-08-28 23:08] nextriot opened #41 "Extending a custom view with an initializer?"
Hi again!

I'm trying to extend the lottie framework so that I can use it with layout.
The initializer for LOTAnimationView takes a `name` argument specifying the json filename you are looking to animate.
After reading through the [Custom Property Types](https://github.com/schibsted/layout#custom-property-types) section - I was hoping to be able to extend the view so that I could declare the image

[2017-08-28 23:50] nicklockwood commented on #41
It's not documented because it's a bit experimental, but something like this should work:

[code]

Note that this will only work with a hard-coded name string in your XML though, it won't let you use an expression. There is a mechanism for that, but it's currently private.

[2017-08-30 00:21] patchthecode opened #42 "Just some questions to your plans on this library."
1. Do you have any plans for this to work with Android?
2. I like the concept of react native, but there were a number of reasons i didn't go with it. Does this library basically provides the same advantage of reactive native for iOS?
3. Is this library already being used any where in production?

I just thought the idea for a declarative framework for UI (apart from reactive native) was a good id

[2017-08-30 07:08] nicklockwood commented on #42
Not in the near future. An Android port would need to be a written more-or-less from scratch since Layout is written in Swift. Also, Android's built-in XML-based layout system already has many of the advantages that Layout brings to iOS.

It provides many of the advantages, such as declarative data binding, human-readable layout code, live reloading of UI changes. It doesn't offer cross-platform U

[2017-08-30 17:11] patchthecode commented on #42
Understood. It looks great.
closing this issue.
As I am just experimenting with this library. Expect some noobish questions on some layouts ok.
I'll open a git repository so that i can experiment with somethings, and i'll base the questions i'll ask on that repository. Have a good one.

[2017-08-30 17:11] #42 closed

[2017-08-31 00:52] patchthecode opened #43 "How should the XML look for a UINavigationController?"
**Version**: 0.4.17
**Xcode**: 9.6 Beta
**SampleCode**: [LayoutsSample](https://github.com/patchthecode/layoutTests)

The goal is to have a simple `UINavigationController` with a root `viewController`.
It will have a custom navigation bar, hence I am trying to design the navigationBar in XML.

Something like this
<img width="254" alt="screen shot 2017-08-30 at 5 44 31 pm" src="https://user-images.

[2017-08-31 03:05] patchthecode commented on #43
update: If i put the xml like this, then it no longer crashes

[code]

However, i see that there are 2 Navigation bars
<img width="300" alt="screen shot 2017-08-30 at 8 04 33 pm" src="https://user-images.githubusercontent.com/2439146/29904606-7bc02e06-8dbe-11e7-91fd-344243c092c4.png">

Therefore i think that i am still not doing it correctly.

[2017-08-31 05:36] patchthecode opened #44 "Not sure if its my mistake, but UIStackView might be setting a wrong value."
**Version**: 0.4.17
**Xcode**: 9.6 Beta
**SampleCode**: [LayoutsSample](https://github.com/patchthecode/layoutTests)

<img width="194" alt="screen shot 2017-08-30 at 10 32 11 pm" src="https://user-images.githubusercontent.com/2439146/29907894-212f9822-8dd3-11e7-81f4-b7e67076a4bc.png">
Above is the image of the result I am getting. It looks like the red square's height value is bigger than it shoul

[2017-08-31 06:50] nicklockwood commented on #43
Customizing the navigation bar for UINavigationController is not currently supported in Layout. YOu'll have to do this part in code.

[2017-08-31 13:23] nicklockwood commented on #44
I'm no expert on the behavior of UIStackView, and it's possible that this is behaving differently when using Layout than it would if you created it programmatically, but it seems like if you're using distribution=fill then it's going to try to stretch the views to fit the height of the container, and if you don't provide enough context for which view you want it to stretch, it may not stretch the

[2017-08-31 17:19] patchthecode commented on #44
(SideNote: the sample codes i provide is in XCode 9. If you need another version let me ok. thanks.)

I thought this at first. But then I coded the view programmatically.
here is the code (xcode9) ->
[Layout.zip](https://github.com/schibsted/layout/files/1267889/Layout.zip)

When we debug the frame hierarchy in XCode we see that the `innerStackView` stretches to fill the available space.

![frames

[2017-08-31 17:24] patchthecode commented on #43
I looked at your contribution guidelines. If i have the spare time I would not mind looking into things like this and maybe doing a pull request.

How does one go about putting in a new feature like this or (other features)? I know it wont be possible to explain everything here, but is there some pattern you follow, or place you put the additions? And maybe is there anything major i need to watcho

[2017-09-01 22:24] nicklockwood commented on #40
OK, I've added improved support for UISegmentedControl in 0.4.18. This should now work:

[code]

[2017-09-01 22:24] #40 closed

[2017-09-01 22:28] nicklockwood commented on #41
I've added a better API for this in 0.4.18. It's documented in the README, but in short the above can now be simplified to the following, and will now work with any expression for "name", not just a hard-coded value:

[code]

[2017-09-01 22:28] #41 closed

[2017-09-01 22:30] nicklockwood commented on #43
I've added improved support for this in 0.4.18. It's fully documented in the README, but it should now work in the way you were attempting to use it. Let me know if there is anything else missing.

[2017-09-01 22:30] #43 closed

[2017-09-01 22:34] nicklockwood commented on #44
Layout doesn't use AutoLayout - it's all frame based. Every Layout-managed view has a fixed height, even if you haven't set one explicitly. In the case of a UIStackView, the height will be set to match the content by default. But that probably prevents it from working exactly the same way as a non Layout-based view.

I'll dig into this a bit more and see what would be involved in making it behave

[2017-09-02 05:56] patchthecode commented on #43
Awesome. I'll check out now.

[2017-09-02 05:57] patchthecode commented on #44
I didnt know that Autolayout was not used. Thanks for looking into this.

[2017-09-03 08:35] TMTBO commented on #38
[code]

Add these at the end of your podfile, then `pod install` or `pod update`

[2017-09-03 08:53] TMTBO opened #45 "Set title for ViewController not work in som where"
1. the first place
[code]
2.the second place
[code]

[2017-09-03 12:19] hartbit commented on #38
Instead of maintaining a separate branch, it might be better to use:

[code]

Swift 4 is similar enough to Swift 3 that the changes should be minimal.

[2017-09-03 13:52] nicklockwood commented on #45
It looks like you might be trying to load a view controller from your XML inside another view controller. In that case the VC in the XML will be loaded as a child view controller of the one loading it - that's why setting its title doesn't affect the title of the outer controller.

[2017-09-04 08:58] nicklockwood commented on #38
@hartbit that makes sense.

[2017-09-05 07:23] solrankos opened #46 "Ignores alignment of label text when content is mixed with HTML"
When i put bold on `world` the center alignment is ignored and the text is aligned to the left

[code]

[2017-09-05 11:40] Eddpt opened #47 "UIAlertController has missing UIAlertActions"
When using `Layout` all the `UIAlertControllers` seem to have missing `UIAlertActions`, only on iOS 9.

[code]

![screenshot 2017-09-05 12 39 04](https://user-images.githubusercontent.com/1426933/30059495-38780c22-9237-11e7-93f3-0d0716667c64.png)

See the following [sample project](https://github.com/Eddpt/AlertTestWithLayout)

When using `Layout` version `0.4.13` it works fine, but upgrading to `

[2017-09-05 12:13] nicklockwood commented on #46
Thanks, I'll look into it. In the meantime, using a `<center></center>` tag around your text might help.

[2017-09-05 12:21] nicklockwood commented on #47
Thanks! I've got a fix - I've pushed a fix to the develop branch.

[2017-09-05 12:24] #45 closed

[2017-09-05 18:51] Eddpt commented on #47
Working 👍

[2017-09-05 18:51] #47 closed

[2017-09-05 19:25] nicklockwood commented on #38
Fixed in 0.4.19

[2017-09-05 19:25] #38 closed

[2017-09-06 16:33] nicklockwood commented on #46
Fixed in 0.4.21

[2017-09-06 16:33] #46 closed

[2017-09-07 23:51] comm1x opened #49 "Independent views in XML"
First I would like to express my **great gratitude** for this project. I'm sure it has a huge perspectives and it will become very popular tool.

Right now we can split big layouts on parts using `xml="view.xml"` syntax and reuse parts. But we can't build and import whole independent views. When we importing parts, outlets of parts binds to current viewcontroller. And if we reuse part in another v

[2017-09-08 08:55] nicklockwood commented on #49
There are two different concepts of a custom view in xml:

* You can create an xml file that configures an existing UIView class with a given set of properties, etc.
* You can subclass UIView in Swift and then reference your custom view class in a Layout xml

In the former case, you would load your xml file like this:

[code]

In the latter case, you'd just reference your custom view directly.

[c

[2017-09-08 09:53] comm1x commented on #49
Thank you for your answer, Nick.
I am tried again, and it did not work.

I define simple custom view `Custom Label` with code:
[code]
and `CustomLabel.xml` layout:
[code]

Then, I declare container and try to use inside it:

[code]

And I see this:
![Screenshot](https://i.gyazo.com/65606fa3c1762471a29d2d99c65049d4.png)

Default `UILabel` rendered, but `CustomLabel` not rendered.
Version of Layout

[2017-09-08 10:35] nicklockwood commented on #49
Sorry, I forgot you need to include this in your CustomLabel, or your Layout won't update to match fit the container size when it changes:

    override func layoutSubviews() {
        layoutNode?.update()
    }

[2017-09-08 12:49] comm1x commented on #49
Yeah, it works! Very nice! :)
I think it would be good to write about it in README.

[2017-09-08 13:04] nicklockwood commented on #49
It's mentioned in the Advanced topics section, but the docs could be clearer.

[2017-09-10 16:25] nicklockwood commented on #49
I've improved the docs for this in the README.

[2017-09-10 16:25] #49 closed

[2017-09-17 13:48] hartbit opened #50 "// in comments doesn't work for images"
[code]

[2017-09-17 14:49] nicklockwood commented on #50
Images are treated as strings, so you'd need to wrap the comment in { }.

I agree this is awkward, but since an image name can be a path, it could plausibly start with a /. // is fairly unlikely though, so perhaps I can special-case it.

[2017-09-17 14:59] hartbit opened #51 "In Debug mode, there should be an option for the layout to reload on file save"
The title says it all :)

[2017-09-17 15:01] hartbit opened #52 "In Debug mode, fetch images from the project folder"
When working on layouts, adding/editing images in the asset catalog forces to re-compile the application. In the layout system fetched images from the asset catalog in the project folder, we could avoid that.

[2017-09-17 15:03] hartbit commented on #50
Okay, understood :) I think special casing it would be worth it!

[2017-09-17 15:25] nicklockwood commented on #52
I've considered this. Would have been easy in the pre-asset catalog days. Still possible now, but a bit more work to write the xcasset json parser.

[2017-09-17 15:25] nicklockwood commented on #51
Agreed.

[2017-09-17 19:05] hartbit commented on #52
Yes, I thought about it, and its definitely non-trivial. And you would have to keep it up-to-date to support whatever new Asset Catalog feature they add that allows specifying the conditions that govern when an image is used.

[2017-09-18 11:13] geGao123 opened #53 "UIButton-UIControlState-backgroundColor"
hope UIButton can set backgroundColor with state(normal,highlighted...),just like backgroundImage.i think it's will be very nice.
thx.(also i think Layout is a very good,Especially for someone develope android  before)

[2017-09-18 11:21] nicklockwood commented on #53
Unfortunately UIButton doesn't support this feature itself, which is why I haven't exposed it in Layout. The best option is to create a background image with a solid color, which you can do like this:

    extension UIImage {
        static func imageWithColor(_ color: UIColor) -> UIImage {
            UIGraphicsBeginImageContextWithOptions(CGSize(width: 1, height: 1), false, 1)
            defer

[2017-09-18 15:27] nicklockwood commented on #53
(Note: You'd have to pass some of these images in as constants to use them in Layout)

[2017-09-18 21:12] comm1x opened #54 "Feature: use outlet-links in size|position params"
I suggest to use outlets in size|position-params. For example:

[code]

I think, it is not trivial, because we need to calculate view graph (hierarchy, that is not equal xml-hierarchy) and detect cycles.
But if it is implemented, the Layout become **very powerful** and will be able to completely replace IB when building complex interfaces with complex view-constraints.

[2017-09-19 07:32] nicklockwood commented on #54
Interesting idea! I was originally planning to do something more like this though:

[code]

The problem with using outlets for this is that they are designed to bind to the file's owner (view controller), and you might want to have references between views that aren't bound to the view controller.

I did have this implemented at one point, so I know it's possible. Cycles aren't a problem as I alre

[2017-09-19 10:12] comm1x commented on #54
I am not sure about make separate `outlet` and `id` fields. In Kotlin (kotlin-android-extensions) this fields combined into `id`.

For example:
[code]

And in code:
[code]

If we split `id` and `outlet`, I think xml-layouts will looks like:
[code]

Id and outlet will offen duplicates.

[2017-09-19 10:32] geGao123 commented on #53
thx

[2017-09-19 10:32] #53 closed

[2017-09-22 09:35] nicklockwood commented on #50
This is now supported on the develop branch. See README for details.

[2017-09-22 11:02] nicklockwood commented on #50
Fixed in 0.4.25

[2017-09-22 11:02] #50 closed

[2017-09-22 15:46] hartbit commented on #50
👍

[2017-09-29 13:27] sergeymild opened #55 "uncaught exception 'NSInvalidArgumentException', reason: 'UICollectionView must be initialized with a non-nil layout parameter'"
I have this error after adding an outlet to UICollectionView.
Without outlet it's works as expected.

[2017-09-29 15:00] nicklockwood commented on #55
Thanks for reporting. I'm having some trouble reproducing the issue - can you show me your project, or at least the XML and view controller?

[2017-10-02 05:12] sergeymild commented on #55
All ok, sorry it was my problem. You make awesome tool.)

[2017-10-02 05:12] #55 closed

[2017-10-03 05:39] hermanccw opened #56 "[Question] Is there anyway to use a third party control inside XML?"
I am trying to incorporate the `PhoneNumberKit` into my view using the XML layout method, but when I added `<PhoneNumberTextField/>` into my XML, it didn't work.  The control seems to be a regular subclass of UITextField [link here](https://github.com/marmelroy/PhoneNumberKit/blob/master/PhoneNumberKit/UI/TextField.swift)

[2017-10-03 05:50] hermanccw commented on #56
nvm, was missing the module name.  it should be `<PhoneNumberKit.PhoneNumberTextField/>` for the record.

[2017-10-03 05:50] #56 closed

[2017-10-05 09:08] geGao123 opened #57 "dtd for xml"
Is it possible to add dtd in the editor to get a code hint when layout in xml file?

[2017-10-05 09:20] #57 closed

[2017-10-05 09:40] nicklockwood commented on #57
No, unfortunately. I tried this, but sadly Xcode and most other editors ignore external DTDs for autocomplete purposes.

If you use Sublime Text, there’s an autocomplete file included in the repository. That’s the best solution I can offer at the moment.

[2017-10-11 05:30] hermanccw opened #58 "[Question] mounting UIControl action outside of it's container"
I have the following layout
[code]

I do have a `continuePressed` function in the viewController, but I am seeing the following error
[code]

Is there a way that the action can be mounted to the controller instead of the parent view?

[2017-10-11 09:34] nicklockwood commented on #58
This is an edge case I didn't consider. Since the header isn't part of the Layout hierarchy (it's created and managed by the UITableView internally) it doesn't have access to the view controller.

I think this is a reasonable use-case though. I'll see if I can find a solution.

In the meantime, you'll have to bind the action manually in your `tableView(_:viewForHeaderInSection:)` method. There's n

[2017-10-11 15:08] nicklockwood commented on #58
@hermanccw fixed in Layout 0.5.3

[2017-10-11 15:08] #58 closed

[2017-10-12 04:18] hermanccw opened #59 "[Question] how do you set UITableViewCell's accessoryView in XML"
Can I do that inside an expression? If yes, how?

[2017-10-12 09:50] nicklockwood commented on #59
You would have to pass it in as a constant from the Swift code. Currently there's no way to define it inline using an XML node.

[2017-10-12 09:53] nicklockwood commented on #59
I think to do this safely you would either need to set it in the cellForRowAtIndexPath() method, or create a UITableViewCell subclass and set it inside there. If you passed it as a constant in the tableview setup code then it would try to use the same accessoryView instance for multiple cells, which won't work.

[2017-10-12 11:42] hermanccw commented on #59
ok, thx

[2017-10-12 11:42] #59 closed

[2017-10-13 02:40] silentninja commented on #5
Can we use the outlet property to reference the layout node  My use case is that I want a layout which is similar to the below layout.

[code]
The view start should be aligned to the end of the label. Instead of traversing the previous node, referencing by an identified would be a better option.

[2017-10-13 06:58] nicklockwood commented on #5
This is not currently possible, although I’m working on a solution. Using `previous.previous.right` should work for now, although I agree it’s not ideal.

[2017-10-13 08:33] silentninja commented on #5
I ended up doing it. Thanks for confirming.

[2017-10-13 14:31] nicklockwood commented on #54
@comm1x FYI, I've put up a PR with the "id"-based solution, so you may wish to comment on it: https://github.com/schibsted/layout/pull/61

I'm aware of your concerns about duplicating the id and outlet. I considered making the #references work with outlets as well as id, but I'm still not convinced that the doubling up you describe would be very common, since the two properties serve such differen

[2017-10-13 14:33] nicklockwood commented on #5
@silentninja I've put up a PR for referencing nodes by ID, so that should be included in the next release: https://github.com/schibsted/layout/pull/61

[2017-10-16 14:46] nicklockwood commented on #54
This feature is now available in 0.5.4

[2017-10-16 14:46] #54 closed

[2017-10-17 16:06] VauVauVau opened #62 "Baseline and firstBaseLine ?"
Great work you've done! Thank you!
Just wondering if there's a simple way do adjust uilabel / uitextField baselines without doing some math ?

[2017-10-19 05:40] hermanccw opened #63 "Using enum within XML layout"
I have the following enum and viewmodel
[code]

and the following label in XML
[code]

When I try to setup the layout like this
[code]

it gives me the error: "Unknown property PinCodeInputState of UILabel for PinCodeINputState.Failed in `isHidden` expression in UIView

Is it possible to check enum value inside an expression?

[2017-10-19 07:43] nicklockwood commented on #62
This isn’t supported yet, but will be soon.

[2017-10-19 08:09] sergeymild opened #64 "Macros in Expressions"
[code]
I have an error:
Unknown property `HeaderHeight` or UILabel for HeaderTop in `top` expression in UIView in Cell.

[2017-10-19 15:10] VauVauVau commented on #62
Great! Thank you for your feedback! I'm sorry that I cannot contribute and give any help right now.

[2017-10-20 07:44] bruno01989 opened #65 "Properties not found when using Grouped UITableView"
#### Summary

When adding a `UITableView` to a Layout .xml file and setting its `style` property to `grouped`, the properties can no longer be found by Layout.

#### How to reproduce?

- Add `UITableView` in the .xml file and set its `style` property to `grouped`
- Add a `UIView` to be used as a header inside the `UITableView` declaration
- Add a `UITableViewCell` and add the following property: `

[2017-10-20 12:02] freynolds opened #66 "Font Types"
Hi, first of all, love your library so far!
I'm having a bit of an issue setting a system font to heavy, idk if I'm writing it wrong or something is missing.
`font="System heavy 24"`
it works with bold, not with heavy

Thank you for your time
Best regards
Francisco

[2017-10-21 16:20] nicklockwood commented on #66
Hi Francisco, heavy isn’t supported yet, but you can create a heavy font in Swift and then pass it into your layout as a constant.

[2017-10-21 16:20] nicklockwood commented on #65
Thanks, I’ll look into it.

[2017-10-21 16:21] nicklockwood commented on #64
That’s weird. I’ll try to reproduce it - thanks!

[2017-10-21 16:22] nicklockwood commented on #63
This isn’t currently possible, but I hope to support it soon. In the meantime, passing PinCodeInputState.Failed as a constant and then comparing against that might work.

[2017-10-21 16:42] hermanccw commented on #63
ok thx.

[2017-10-23 10:51] nicklockwood commented on #65
Fixed in 0.5.5

[2017-10-23 10:51] #65 closed

[2017-10-23 10:52] nicklockwood commented on #64
Fixed in 0.5.5

[2017-10-23 10:52] #64 closed

[2017-10-23 20:52] comm1x opened #67 "UIViewController.navigationItem.leftBarButtonItem.title and image"
After adding property `navigationItem.leftBarButtonItem.title` to UIViewController, view stops initializing. Method `loadLayout()` not crashes, but do nothing. All outlets is nil. After removal this line all is ok.

Version of Layout is 0.5.4

[code]
------------------------------------------
Also I want also to suggest force throw exceptions, if something went wrong. After upgrading from 0.4.20 t

[2017-10-24 06:16] hermanccw opened #68 "[Question] better way to reference outlet inside UITableViewCell?"
Hi there,

I have a cell within a table defined in XML like this:
[code]

I wanted to reference the `UITextField` inside the cell in my view controller so that whenever text chnaged within a textField, I get notify and do something about it.  Here is my current solution to get the reference and add target to the text field:
[code]

Is there a more elegant way to reference outlet without a cell?

[2017-10-24 06:47] nicklockwood commented on #68
The cleanest approach is to create a subclass of UITableViewCell, with an outlet for the textField. Then you can bind the textField to the outlet in xml and access it directly from the cell.

[2017-10-24 15:08] sergeymild commented on #65
Thanks

[2017-10-24 15:09] sergeymild commented on #64
Thanks

[2017-10-24 19:39] nicklockwood commented on #67
Hey @comm1x, thanks for reporting this. There're a couple of bugs here, one with setting the `leftBarButtonItem.title` and another with the error not being reported. I've fixed both of these for the next release.

As for forcing errors to be thrown, the issue in this case was that the error was being silently swallowed, so forcing it to be thrown wouldn't help in this case.

For future reference t

[2017-10-24 22:00] nicklockwood commented on #63
@hermanccw this should now be possible in version 0.5.6, although it may only work with lowercase enum case names.

[2017-10-24 22:00] #63 closed

[2017-10-24 22:00] nicklockwood commented on #67
Fixed in 0.5.6

[2017-10-24 23:51] comm1x commented on #67
Hi Nick, I have 2 news for you. :) `navigationItem.leftBarButtonItem.title` successfully fixed 0.5.6, but I just noticed that `navigationItem.leftBarButtonItem.image` broken in 0.5.6  :) I think it was broken before, but I saw it only now.

After setting `image` property, I see red screen about `private or read-only in UINavigationController`.

![Screenshot](https://gyazo.com/b90c2837cdee164c0160d

[2017-10-25 00:05] nicklockwood commented on #67
D'oh! OK, I'll push another patch tomorrow.

[2017-10-25 00:07] nicklockwood commented on #67
@comm1x if you don't mind using a pre-release version until the next update, the fix is here: https://github.com/schibsted/layout/tree/develop

[2017-10-25 06:08] geGao123 opened #69 "extension Suggest"
Layout, is a declarative layout library. You can set the layout in the xml file. Write like android. TangramKit this library I first saw very cordial (there are a lot of layout and the layout of the android like), and then I was thinking, the author can TangramKit and layout together, and then really can be written android layout as Write ios layout.

[2017-10-25 08:40] nicklockwood commented on #69
@geGao123 I'm not sure exactly what is being suggested here?

[2017-10-25 23:21] comm1x commented on #68
I am doing like Nick said - creating subclass and incapsulating all logic into it. There is a short sample:

View layout:
[code]

Controller of cell:
[code]

Use into screen layout:
[code]

And into screen controller:
[code]

[2017-10-25 23:39] comm1x commented on #54
I am still collecting statistic about my id/outlet usage.
But right now I already have exactly 100% of duplicating. All 8 of my 8 cases have the same `id` and `outlet`. Not so many, the sample is not representative, but I'm already confident that the percentage of duplication will be very high.

The main premise of duplication is the absence of a reason not to do so.

[2017-10-26 06:58] #69 closed

[2017-10-26 16:02] nicklockwood commented on #67
Fixed in 0.5.7

[2017-10-26 16:02] #67 closed

[2017-10-27 06:54] hartbit opened #70 "LayoutLoader can't find source layout if the project is inside a folder containing a dot in its name"
In `findProjectDirectory`, once the recursive function reaches the folder containing the project, if the name of the folder contains a dot (for example, as is the case if you download a tagged release from GitHub - `layout-0.5.7`), `pathExtension` will be non-empty and `findProjectDirectory` will incorrectly believe the last path component is a file and go one level up, never searching the folder

[2017-10-27 07:24] hartbit commented on #70
Okay, here's a rewrite of `findProjectDirectory` which uses sequence generation instead of recursion and resolves the bug. I didn't yet open a PR because I didn't write any tests yet, but it seems to work fine:

[code]

[2017-10-27 08:01] hartbit opened #71 "Reloading a template UIViewController in a navigationController doesn't work"
With an application like the SampleApp, based on a `UITabBarController` with templates:

[code]

reloading with Cmd+R reloads the root view controller layout, which reloads the template correctly.

But with an application based around a `UINavigationController` with templates:

[code]

reloading with Cmd+R reloads the template view controller layout. And because template layouts don't have their `

[2017-10-27 08:07] #71 closed

[2017-10-27 08:08] hartbit commented on #71
My bad, this is actually nothing to do between `UITabBarController` and `UINavigationController`, it has to do with the template containing a root view controller which is a `LayoutViewController` subclass. I'll open a new issue.

[2017-10-27 08:10] hartbit opened #72 "Templates containing root view controllers subclassing LayoutViewController steal the refresh command"
I guess this is technically "normal behaviour", as Layout is not really made to have multiple `LayoutViewController`s  at the same time. But perhaps we could either make an exception for `UITabBarController` or `UINavigationController`, or perhaps output a warning in the console when a template contains a root `LayoutViewController`?

[2017-10-27 08:57] nicklockwood commented on #70
Great investigation, thanks!

[2017-10-31 12:40] micpringle opened #73 "Live reloading breaks UIStackView layouts"
I have the following XML...

[code]

Which on first load appears like so...

![before](https://user-images.githubusercontent.com/20023/32224186-5ccfcc18-be38-11e7-8995-1ccd3fb63632.png)

But when I **CMD+R** to reload, the stack view appears to collapse on itself...

![after](https://user-images.githubusercontent.com/20023/32224231-7f7f7c7c-be38-11e7-83fb-e2e0da1014c6.png)

Is this a known issue?

[2017-10-31 12:55] tomekc opened #74 "Introducing Layout XML-defined cells into legacy TableView"
I am very impressed by the work and ingenuity behind Layout. So much I decided to try introducing it into one of projects.

Unfortunately, I can't get UITableViewCell laid out properly: the content of XML is loaded, but  everything is crammed in top-left corner. I started learning by modifying example app and tinkering with TableCell.xml, and got that:

<img width="426" alt="screen shot 2017-10-31

[2017-10-31 17:17] nicklockwood commented on #74
It would be useful if you could include the XML for your cell, but my instinct is that you may need to set the width and height of the cell (probably to 100% and auto, respectively).

[2017-10-31 20:36] nicklockwood commented on #70
Fixed in 0.5.8

[2017-10-31 20:36] #70 closed

[2017-10-31 20:36] nicklockwood commented on #73
Fixed in 0.5.8

[2017-10-31 20:36] #73 closed

[2017-10-31 20:36] nicklockwood commented on #66
This is now supported in 0.5.8

[2017-10-31 20:36] #66 closed

[2017-10-31 22:06] tomekc commented on #74
Here's the XML. It is a result of tinkering with TableCell.xml in sample app (and renders fine there):

[code]

[2017-11-01 09:43] micpringle opened #75 "Font not respecting specified weight"
I appreciate font weights were added/fixed in `0.5.8`, but it still appears as though the specified weights aren't being respected.

This XML...

[code]

Renders as the following...

![layout](https://user-images.githubusercontent.com/20023/32269014-140a7d1e-bee9-11e7-8379-b03047fb9ffe.png)

All three are rendering as Roboto, but the `thin` and `light` weights appear to be ignored.

This is how it

[2017-11-01 09:53] nicklockwood commented on #75
@micpringle can you print out the results of `UIFont.fontNames(forFamilyName: "Roboto")`?

Here are some things to try:

* Use the exact name of the font, as it appears in the list you've printed
* Try it with and without single quotes ' around the name
* Try it with the exact case, and all in lowercase
* Try "thin" and "light" in lowercase

Let me know which (if any) of those work.

[2017-11-01 10:03] nicklockwood commented on #75
To be clear, there are two approaches that I would expect to work:

* Using the exact font name (with our without quotes) with correct case

    "Roboto-Thin" (I'm guessing the name, but you can get it using UIFont.fontNames(forFamilyName:))

* Using the family name (case insensitive) followed by "thin" or "light", e.g.

    "roboto thin"
    "Roboto thin"

The modifiers "thin" and "light" are not

[2017-11-01 10:27] micpringle commented on #75
@nicklockwood Here's the output from printing `UIFont.fontNames(forFamilyName: "Roboto")`...

[code]

Will go through and try all the different options now.

[2017-11-01 10:31] micpringle commented on #75
@nicklockwood `roboto thin` and `Roboto thin` have no affect. However, `Roboto-Thin` does work as expected. 👍

[2017-11-01 10:59] nicklockwood commented on #75
Interesting. OK, I'll look into that. Thanks!

[2017-11-01 11:09] nicklockwood commented on #75
@micpringle FYI, for a nontrivial app, it probably makes more sense to use constants for your fonts, so they're easier to refactor later, e.g:

[code]

[code]

[2017-11-01 12:12] micpringle opened #76 "Cannot initialize UILabel node until content for Label.xml has been loaded"
Now I have a working layout I'm attempting to break it up into templates so that they can be reused across 3 very similar views, but after recreating the same layout using those templates I've run into an issue where I come up against the red screen and the following error is displayed:

[code]

Here are the XML files I'm using...

**Claims.xml**
[code]

**Contact.xml**
[code]

**Label.xml**
[code

[2017-11-01 13:49] nicklockwood commented on #75
@micpringle I've figured out why "light" wasn't working - Roboto's numeric font weights don't exactly match Apple's (they're floating point values), so the matching logic wasn't working.

I've switched to a slightly fuzzier system, where it should match the available font with the closest weight to the one you specify, and that seems to work better. I'll include the fix in the next release.

[2017-11-01 14:14] micpringle commented on #75
Nice work! Cheers Nick.

[2017-11-01 16:48] nicklockwood commented on #76
Thanks for including the project, that was a big help!

Predictably, it was a caching problem. Fixed for next release.

[2017-11-01 16:54] micpringle commented on #76
Fantastic news! Cheers once again Nick. I owe you a 🍺

[2017-11-01 17:02] nicklockwood commented on #74
I've tried recreating your cell in a new project with an ordinary UITableView created programmatically (not Layout-based) and it seems fine.

I guess it may be some sort of interaction with Storyboards? I'll keep looking.

[2017-11-01 17:13] nicklockwood commented on #74
Hmm, it's also working when I use a storyboard.

Can you zip up your project and attach it? I don't think I can reproduce the issue myself.

[2017-11-01 17:31] nicklockwood commented on #75
@micpringle I've pushed this and the font fixes to the develop branch if you want to test them. I'll probably push a new release tomorrow.

[2017-11-01 17:32] nicklockwood commented on #76
@micpringle I've pushed this and the font fixes to the develop branch if you want to test them. I'll probably cut another release tomorrow.

[2017-11-01 19:20] tomekc commented on #74
Legally I cannot share my project, but I while trying to pinpoint the root cause I managed to create a fresh project, and still the issue persists.

You can find it here: https://github.com/tomekc/LayoutProblemDemo

[2017-11-01 19:31] nicklockwood commented on #74
Perfect, thanks 👍

[2017-11-01 23:11] silentninja commented on #68
I am trying to achieve the same by subclassing UITableViewCell and using LayoutLoading but I am getting an error saying it is not a Layout managed view
https://github.com/schibsted/layout/blob/a410461ab8ef29f2cc44ae2c3eb1d11b011ee84d/Layout/UITableView%2BLayout.swift#L407
[code]
This happens when I register the cell class instead of the layout
[code]

When I create the cell based on xml, I am gett

[2017-11-01 23:20] comm1x commented on #68
@silentninja I am not sure, but I notice, you use different identifier:

[code]

[2017-11-01 23:26] silentninja commented on #68
Sorry for the confusion, made a mistake when renaming, fixed the code now. I am using correct identifier in my code though and problem still happens

[2017-11-01 23:28] comm1x commented on #68
@silentninja
[code]
Is it correct? You declare SampleCell outside of TableView. It should be inside.

[2017-11-01 23:52] silentninja commented on #68
That seems to be the problem thanks for correcting it, I am able to get it working now. I am facing problem with
 1. Registering the cell as a class
2. The cell taking the whole screen when the height is set to auto. This one is probably some mistake on my end. Will

[2017-11-02 08:00] comm1x commented on #68
@silentninja cell automacally registered, when you put cell-class inside tableview-class in xml files.
[code]

With automatic height I am facing too. Write about could you solve this problem.

[2017-11-02 10:25] tomekc commented on #74
I think I am close to a solution.

* I wrapped contents of my cell into `UIView`
* The wrapper UIView needs explicitly specified height, if I set `auto`, the app is crashing at assertion in *LayoutNode.swift* line 751 (`assert(_evaluating.isEmpty)`)

I guess that `UIDatePIcker` inside `ScrollView` below `SegmentedControl` is not the trivial use case :)

[code]

[2017-11-02 10:41] micpringle commented on #76
@nicklockwood Can confirm this is now working as expected. Thanks once again for the quick turnarounds on these issues.

[2017-11-02 10:45] micpringle commented on #75
Hey @nicklockwood—it appears as though we're getting closer now, but it's still not quite right...

![no quite right](https://user-images.githubusercontent.com/20023/32321863-808bcf20-bfba-11e7-9a42-0aada26a3296.png)

Light and thin appear almost identical.

You can check this out using the same sample I provided yesterday—just change the XML file referenced in `StaticViewController` to `Fonts.xml

[2017-11-02 12:06] silentninja commented on #68
I am facing problem with registering the cell as a class in swift
 tableView?.register(ExampleCell.self, forCellReuseIdentifier: "exampleCell")```

[code]
<UITableView outlet="tableView">
        <ExampleCell reuseIdentifier="exampleCell"/>
</UITableView>
[code]

[2017-11-02 15:54] nicklockwood commented on #75
@micpringle this turned out to be an absurdly deep rabbit hole, but it should now be fixed on develop.

[2017-11-02 15:57] micpringle commented on #75
I'll give it a look now @nicklockwood—thanks again. I bet you're regretting that comment about me not having to apologise for raising bugs now 😂

[2017-11-02 16:23] nicklockwood commented on #74
@tomekc the only bug I found in your original example was this line:

        selectedBackgroundView.backgroundColor="colors.red"

Since you don't define the "colors.red" constant anywhere, it was throwing an error. But because the project doesn't use LayoutViewController, the error was being swallowed silently.

Removing that line fixed the layout for me. There was no need to make any other chang

[2017-11-02 16:29] nicklockwood commented on #74
@tomekc sorry, you were right about the crash also. I was testing on my local branch, which has already fixed that.

If you link against the develop branch by putting this in your Podfile, you can use the fixed version:

    pod 'Layout', :git => 'https://github.com/schibsted/Layout.git', :branch => 'develop'

[2017-11-02 16:54] micpringle commented on #75
![screen shot 2017-11-02 at 16 53 58](https://user-images.githubusercontent.com/20023/32339047-73bd6928-bfee-11e7-8c61-4921029a1f18.png)

Cracking work Nick. 👍

[2017-11-02 17:12] nicklockwood commented on #68
@comm1x I can see why this would be confusing, but there is no need for your custom ExampleCell to implement the `LayoutLoading` protocol, and I suspect that's why you are having issues.

`LayoutLoading` is for views that load a layout internally, but are not themselves part of a Layout hierarchy. Loading of UITableViewCell layouts is already handled by the tableview itself, when you us the `regis

[2017-11-02 17:13] nicklockwood commented on #68
I'll try to make this clearer in the documentation.

[2017-11-02 18:11] nicklockwood commented on #76
Fixed in 0.5.9

[2017-11-02 18:11] #76 closed

[2017-11-02 18:11] nicklockwood commented on #75
Fixed in 0.5.9

[2017-11-02 18:11] #75 closed

[2017-11-02 18:11] nicklockwood commented on #74
Fixed in 0.5.9

[2017-11-02 18:11] #74 closed

[2017-11-03 05:59] rachelfong opened #77 "Support for Objective-C"
I am currently working on a project which in built on Objective-C and would love to try out Layout.

Does this library support Objective-C projects?

[2017-11-03 08:27] nicklockwood commented on #77
@rachelfong Layout doesn't officially support Objective-C, but parts of it might work, depending on what you want to do. Can you describe your use case?

[2017-11-03 09:09] rachelfong commented on #77
@nicklockwood We are looking into creating an app without the use of Storyboards or Nibs and remotely configure the UI.

Since Layout supports loading XMLs from URLs, we thought it would be good to be able to leverage on it. I guess the plan is to build the XML on server side and then send it over to mobile via an API and load the UI accordingly.

However, my current project is written in Objectiv

[2017-11-03 11:59] micpringle opened #78 "Passing outlet references down the template chain"
It appears as though you can't pass outlet references to nested templates in the same way you can parameters, but this would definitely be useful in scenarios where a section of a top-level template has been refactored into a separate template so it can be reused multiple times, but that nested template needs access to outlets defined on the top-level view controller.

Here's an example use case w

[2017-11-03 15:54] silentninja commented on #68
@nicklockwood I tried the nesting the views under the UITableViewCell subclass but I couldn't get access to the layoutNode, so I had to use  the layoutloading protocol.
[code]
If I dont use self I get the layoutNode as nil

I need to access layoutNode to update the state of the data when some updates happen to the data when the event is triggered.

Nesting the cells instead of using layoutLoading

[2017-11-06 16:47] nicklockwood commented on #77
@rachelfong I've looked into this, but it would be quite a lot of work to support Objective-C at the moment, because Objective-C cannot subclasses Swift classes, which is necessary if you want to use LayoutViewController.

[2017-11-06 21:25] silentninja opened #79 "LayoutNode reference inside subclass"
Is there a way to access the node inside a custom subclass of a UITableViewCell or a UITableView. I need to subclass a UITableViewCell to add actions and outlets specific for a cell and need access to the node to set/update the node data when an action is triggered.
[code]

[2017-11-06 21:27] silentninja commented on #68
I have created a new issue for the previous comment here #79.

[2017-11-07 10:19] nicklockwood commented on #79
I've made the `layoutNode` property public. If you link against the develop branch by putting this in your Podfile, you can use the fixed version:

    pod 'Layout', :git => 'https://github.com/schibsted/Layout.git', :branch => 'develop'

[2017-11-07 10:22] nicklockwood commented on #68
@hermanccw I've made the `layoutNode` property of `UITableViewCell` public, and also added a `childNode(withID:)` method to `LayoutNode` as an alternative solution for the original problem of referencing sub-nodes of a cell.

If you link against the develop branch by putting this in your Podfile, you can use these features:

pod 'Layout', :git => 'https://github.com/schibsted/Layout.git', :branch

[2017-11-09 12:49] micpringle commented on #78
Hey @nicklockwood—apologies for the delay in responding to this.

I've just tried the changes and I'm still hitting `Expression for 'outlet' must be  a constant or literal value in UILabel in UIView`?

[AlternateLayout.zip](https://github.com/schibsted/layout/files/1457607/AlternateLayout.zip)

I've attached an updated sample which _I believe_ is set up correctly...

[2017-11-09 13:55] nicklockwood commented on #78
@micpringle thanks, I'll take a look.

[2017-11-09 15:25] nicklockwood commented on #78
@micpringle OK, it wasn't at all obvious - even to me - but you need to set the type of the outlet params to "String" instead of "UILabel" and "UIImageView".

The reason for this is that the values you are setting for them are keypaths to views that exist in your ViewController - the params don't contain the views themselves.

I'll see if I can figure out a way to make this more obvious, or at lea

[2017-11-09 15:36] micpringle commented on #78
Perfect, thx @nicklockwood!

TBF that makes perfect sense when you think about it, it just wasn't overly obvious. I think a note in the README and a more specific error message would suffice.

Thanks again for looking at this, and my other issues.

[2017-11-09 17:25] nicklockwood commented on #79
Fixed in 0.6.0

[2017-11-09 17:25] #79 closed

[2017-11-09 17:30] nicklockwood commented on #78
Fixed in 0.6.0

[2017-11-09 17:30] #78 closed

[2017-11-09 17:31] nicklockwood commented on #68
Fixed in 0.6.0

[2017-11-09 17:31] #68 closed

[2017-11-14 18:35] silentninja opened #81 "Custom Constructor Arguments Alternative"
When trying to create a custom view which needs a constructor to be used, I am using the method in https://github.com/schibsted/layout#custom-constructor-arguments. When doing so I am getting the following error
[code]
It is actually an mistake on the custom view for not using a required initializer, but most libraries have only one way to initialize and their initializers dont have required init.

[2017-11-14 18:48] nicklockwood commented on #81
@silentninja can you show me the code for your create method? I’m not sure I understand the issue.

[2017-11-14 19:04] silentninja opened #82 "Support for nested object in node state"
When setting a node's state using an object, we can only reference that object's simple built in datatypes, would be really nice if we can get a reference the properties of the objects inside the object.

[code]
in the layout would like to access it like
[code]

[2017-11-14 19:24] silentninja commented on #81
I am using this library https://github.com/xhamr/fave-button and created extension for it with the below code.

[code]

[2017-11-14 20:52] nicklockwood commented on #81
Instead of `return self.init(...)`, try writing `return FaveButton(...)` instead.

[2017-11-14 20:53] nicklockwood commented on #82
I'll see if I can add support for this.

[2017-11-14 21:45] silentninja commented on #81
That did the trick!! I totally forgot that create(with:) is called by Layout and wont cause recursion.

[2017-11-14 21:45] #81 closed

[2017-11-15 10:25] rachelfong commented on #77
@nicklockwood I see. Thanks for the information. Closing this issue.

[2017-11-15 10:25] #77 closed

[2017-11-15 16:37] tomekc opened #83 "UIStackView issues in 0.6.2 (vs 0.5.7)"
I am trying to achieve pretty complex layout, similar to Facebook wall items: avatar, three lines of metadata right to it, and some text content below.

It worked almost well on 0.5.7, with interesting twist - setting *font* attribute to more than one label led to freezing application (infinite loop?). I went on and updated to latest version.

Now contents of UIStackView is collapsing, and barely

[2017-11-15 21:33] nicklockwood commented on #83
Hi @tomekc, thanks for reporting this. There was a bug with StackViews introduced in 0.6.1. Can you try the latest develop branch? - I think it should have fixed your issue.

https://github.com/schibsted/layout/tree/develop

I couldn't reproduce the font issue, so let me know if that's still happening.

[2017-11-16 00:39] tomekc commented on #83
Yes, thanks, it looks much better now.

<img width="375" alt="screen shot 2017-11-16 at 01 23 56" src="https://user-images.githubusercontent.com/407463/32867655-b8f1b78a-ca6e-11e7-9b31-1c8b74eac3cb.png">

I only wonder if something can be done to keep UIImage intrinsic size (now it gets expanded to fill the half width). I tried to raise `contentHuggingPriority` of the `UIImageView`,

[code]

but e

[2017-11-16 15:11] tomekc commented on #83
I think I got it right by using less StackViews, and relying more on laying out plain UIViews as containers ;)

[2017-11-16 15:29] nicklockwood commented on #83
@tomekc yes, that's definitely the approach I would recommend with Layout, but thanks for raising the issue, as I'd like to make StackViews work better if possible.

[2017-11-19 16:02] patchthecode commented on #83
Is there a way to use a regular stackView in the mean time wile issue is resolved? I'm trying to make another look at https://github.com/schibsted/layout/issues/44

[2017-11-21 16:01] tomekc opened #84 "Strange sizing of UITableViewCell [0.6.3]"
I am observing that for unknown reason, some cells (XML below) composed of a few UILabels, including one with dynamic height, have calculated a way too big size, as pictured below:

<img width="487" alt="screen shot 2017-11-21 at 13 55 10" src="https://user-images.githubusercontent.com/407463/33082373-ea6ad090-cedc-11e7-9c84-74f46dcf8c68.png">

There are no extra newlines, I even added "Begin" and

[2017-11-23 17:04] nicklockwood commented on #84
@tomekc this markup seems to render fine when I drop it into the TableCell.xml file in the SampleApp. Maybe try that at your end and see if you can work out what's different in your project?

[2017-11-30 11:06] micpringle opened #85 "Reference(s) to UIImagePickerController cause App Store rejection"
It appears as though Layout causes apps to fall foul of one of Apple's App Store review guidelines.

Since the framework includes references to `UIImagePickerController` the store assumes the app makes use of it, and therefore will reject an app that uses Layout unless it includes the `NSPhotoLibraryUsageDescription` key in its **info.plist** along with a reasonable description of *why* it needs a

[2017-11-30 18:29] nicklockwood commented on #85
@micpringle I've pushed a possible fix to the develop branch, but I'm unable to test it due to iTunes connect silently ignoring my test app upload. Perhaps you can try it?

    pod 'Layout', :git => 'https://github.com/schibsted/layout', :branch => 'develop'

[2017-12-02 14:42] mariob opened #86 "Passing the node as parameter to layoutDidLoad"
Would be great if the node could be passed as parameter to the `layoutDidLoad()` function in `LayoutViewController`.

Passing the node means that the user doesn't have to deal with an optional `layoutNode` in the function body thus can remove an unnecessary guard or force unwrap.

Current solution:
[code]
Suggested solution:
[code]

I think the suggested solution is much cleaner because the `layou

[2017-12-04 09:54] micpringle commented on #85
Hey @nicklockwood,

Apologies for the delay in getting back to you. I'll give this a shot now and get back to you immediately.

[2017-12-04 09:55] nicklockwood commented on #85
@micpringle no problem at all, thanks!

[2017-12-04 10:08] micpringle commented on #85
@nicklockwood What ever you changed _appears_ to have resolved the issue. 👍

I switched the pod to dev, created a new archive, and then uploaded it via the Organizer. It was accepted by iTC and no issues were reported.

[2017-12-04 11:25] nicklockwood commented on #85
@micpringle Awesome, thanks for the confirmation!

[2017-12-04 14:41] nicklockwood commented on #85
Fixed in version 0.6.6

[2017-12-04 14:41] #85 closed

[2017-12-04 14:43] nicklockwood commented on #86
This seems like a good idea. We'll need to deprecate the old `layoutDidLoad()` protocol method though, and make sure it is still called until it's been completely removed.

[2017-12-04 15:21] mariob commented on #86
Agree! We could replace the old invocation of `layoutDidLoad` with the new parameterised callback in `didSet`. The default implementation of the new `layoutDidLoad` will call the old function.

If the new layoutDidLoad isn't overridden in the view controller we keep the same behaviour as previously. If the new `layoutDidLoad` is overridden, we simply assume that the old `layoutDidLoad` shouldn't b

[2017-12-04 20:27] pabloroca opened #87 "Load a Remote Image"
I am trying to load a remote image, but with no success.

I have the xml files like

https://myserver.com/xmlsamples/test.xml

images are in

https://myserver.com/xmlsamples/people.png

In the test.xml I have:

`<UIView
    width="100%"
    height="100%"
    backgroundColor="#ffff">

    <UIImageView
        image="people.png"
    />
</UIView>`

Loading like:

[code]

And the red screen appears wi

[2017-12-04 22:33] nicklockwood commented on #87
@pabloroca I'm afraid there isn't any support for remote images. Currently Layout only supports loading images inside the application resources. That means either image files that you have added directly to your project in Xcode, or images inside an XCAssets file in your project.

Images inside a folder should work, provided that they are added to the project before building. There is currently no

[2017-12-04 22:34] nicklockwood commented on #87
@pabloroca I should add that it makes perfect sense that you would want to do this, however, and I'll think about implementing it in a future release, so feel free to leave this issue open as a reminder.

[2017-12-04 22:36] nicklockwood commented on #86
@mariob your solution looks great, please go ahead and make a PR :-)

[2017-12-05 10:14] mariob commented on #86
One minor issue... Calling the deprecated layoutDidLoad (from the new function) will generate a warning in Xcode. It seems like it's quite hard to suppress these kind of warnings in Swift (on a line level).

Any ideas?

[2017-12-05 11:33] nicklockwood commented on #86
@mariob I don't think there's any way to suppress it - might just have to live with the warning until it's removed.

[2017-12-05 15:43] #86 closed

[2017-12-05 15:50] mariob opened #89 "StackViews.testAutoSizeElementsInAutoSizedStack tests fails on the develop branch"
There're two failing unit tests in `StackViews.testAutoSizeElementsInAutoSizedStack`.

The reason could be because of an update of Xcode which happened today (needed support for iOS 11.2). My Xcode version is 9.2 (9C40b).

See attached screen shots for more information.
<img width="912" alt="skarmavbild 2017-12-05 kl 16 44 56" src="https://user-images.githubusercontent.com/75208/33616023-ef2d15e8-

[2017-12-06 10:56] nicklockwood commented on #89
Thanks for bringing this to my attention!

[2017-12-06 11:16] nicklockwood commented on #89
Fixed on the develop branch.

[2017-12-06 13:00] mariob commented on #89
👍

[2017-12-06 13:00] #89 closed

[2017-12-06 19:32] mariob opened #90 "LayoutLoading with support for loading node from Data"
Hi,

What do you think about adding support for loading xml data from a `Data` instance in the `LayoutLoading` extension?. Currently there's only support for loading from a local file or URL.

Suggested function signature (which pretty much mirrors the LayoutNode's init):
[code]

This could be used, amongst other things, to load xml blobs from CoreData or having xml data as strings in the code.

I

[2017-12-07 12:10] nicklockwood commented on #90
I'd like to have a more concrete idea of the use cases for this before adding the new API, as each additional method introduces more maintenance burden if I need to deprecate stuff or add new parameters later.

Storing XML templates in Core Data doesn't seem like a very common use case, and probably isn't optimal if you're trying to implement a cache, and as you say there is already a way to creat

[2017-12-07 13:33] mariob commented on #90
I guess you're right. If you want more _advanced_ options you should use the LayoutNode API instead of LayoutViewController.

I just think `Data` is a great abstraction for providing data in APIs 😉 But it's already available in LayoutNode and could be considered for more advanced usage.

Do you think the remote vs. local resource issues where **param** is required only for remote resources is stil

[2017-12-07 14:17] nicklockwood commented on #90
The `<param>` should be required because text is not a known property of UIView, so it sounds like the fact that it *isn’t* required when loading a local file might be a bug.

[2017-12-07 14:37] mariob commented on #90
This is my guess FWIW :)

The file referenced by the `UIView` tag looks like this (removed irrelevant content):
[code]
The **param** is required, but I think that the `<UIView xml="my_file.xml">` tag is replaced by the content from the local file system before its body is evaluated. So if the referenced file has a `<param>` tag all will be fine.

When referencing a remote resource the body of the

[2017-12-08 09:35] nicklockwood commented on #90
@mariob yes, I believe that's the reason. I should probably introduce some concept of "file scope" to make this behavior more consistent.

[2017-12-08 09:37] mariob commented on #90
Agree. I'll close the issue. If you need it as reminder feel free to reopen it again :)

[2017-12-08 09:37] #90 closed

[2017-12-09 10:21] mariob commented on #82
Yeah. Did tinkering with a settings screen and had to prefix a lot of properties in my struct instead of using nested structs. Hope this is possible to do.

[2017-12-09 13:41] mariob opened #91 "Declaring animations inside xml file"
Would something like this be possible to implement?

[code]

In the example above, the animation will only be triggered if `canBuy` (which is a state variable) is changed. I guess that **Expression** has some kind of callback for state changes, right? When a `canBuy` state change occurs, the animator's start method would be called :)

Would be awesome to be able to describe animations in the same

[2017-12-09 22:02] silentninja commented on #87
I wanted to load images from my server and ended up creating a extension which would take in a string and load a image using a image loading library(Library used: https://github.com/evgenyneu/moa)
[code]
I think you want the image attribute to load from server when loading the xml from the server, the above code might be helpful in achieving it. Hot loading the images will also work when using the

[2017-12-11 09:48] nicklockwood commented on #87
@silentninja this is a nice solution!

(FYI, I think you may have a stray print() statement in there)

[2017-12-11 09:51] nicklockwood commented on #91
@mariob yeah, this looks like a good approach. We'd need to add special-case support for `<UIViewPropertyAnimator/>` though, because at the moment Layout only works with views and view controllers.

[2017-12-11 09:56] nicklockwood commented on #91
@mariob my original thinking was that animation would be done by including `t` in your expression, and the framework would just linearly change the value of `t` from 0 to 1, with a timer, so you could apply whatever animation and easing properties you want inside your expression.

It might make more sense to use property animator to control the animation value, but maybe `t` or something similar c

[2017-12-11 09:58] nicklockwood commented on #84
@tomekc any update on this, or shall I close it?

[2017-12-11 10:39] silentninja commented on #87
Thanks for the info I edited the above code

[2017-12-12 08:52] mariob commented on #91
So if I get it right, it should look something like this?

[code]

Or did you have something else in mind?

Will the button and label get its start value from the animation statement?

[2017-12-12 11:26] nicklockwood commented on #91
@mariob not exactly. My idea was that you would describe the value of an animatable property expression as a function of `t`. So more like:

[code]

This is very flexible, but there are some awkward aspects. For example, for values like colors, you'd have to write:

[code]

Which is obviously terrible. You could make this better by introducing an `interpolate()` function, so:

[code]

But at that

[2017-12-12 11:34] nicklockwood commented on #91
Another option might be to have the animator declare variables which can then be used in any expression:

[code]

Then you'd invoke it with something like:

[code]

[2017-12-13 00:00] nicklockwood commented on #91
Yeah, I think we're definitely on the same page with this :-)

The problem I see with triggering animations using `setState()` is that you might sometimes want the properties to be animated and sometimes not, and you might also have multiple different animations that affect overlapping properties and which you would want to apply at different times.

I think this could possibly be addressed by nam

[2017-12-13 00:15] nicklockwood commented on #91
It occurs to me that an alternative way to specify animations without having to name them would be to make them either a parent of child of the view(s) you wanted to affect. For example:

[code]

or

[code]

So now if you called `setState(["bgcolor": "red"])` the color would update instantly, but if you called `setState(["bgcolor": "red"], animated: true)` then it would apply the animation you'd s

[2017-12-13 15:11] nicklockwood commented on #82
This is now implemented on the develop branch.

[2017-12-15 18:19] mariob commented on #91
Sorry for the late reply, but its been a busy week 🙂

Yeah, definitely looks like we're getting closer.

I like the idea that you don't have to know about the animations in Swift and only tell the _view_ if you want to animate or not by specifying it in the `setState` call.

I think that only the first solution, where the animation is a child tag, is doable. The `UIView` tag must be the top-level

[2017-12-16 21:54] pabloroca opened #92 "RoadMap?"
It would be cool to know the Roadmap you have in mind :)

[2017-12-16 21:55] pabloroca commented on #87
Thanks @silentninja, it works like a charm!

[2017-12-17 11:00] pabloroca opened #93 "UIImageView tintColor not implemented"
This is not implemented.

Here you have some ways to implement it https://stackoverflow.com/questions/19274789/how-can-i-change-image-tintcolor-in-ios-and-watchkit

I like the solution from YannickSteph, but maybe we would need a new property indicating is a photo or not.

[2017-12-17 15:09] nicklockwood commented on #93
The kind of tinting that YannickSteph is talking about is not a standard feature of UIImageView, and as such is out of scope for Layout. You would need to add this as an extension.

Ordinary use of `tintColor` to color images that use the `alwaysTemplate` rendering mode is fully supported by Layout already if you use XCAssets images (as explained in one of the other answers to that stackoverflow q

[2017-12-17 17:05] pabloroca commented on #93
Thanks!

[2017-12-17 17:05] #93 closed

[2017-12-18 10:22] nicklockwood commented on #92
This is a great point. I don't have a formal roadmap per-se, but it would be good to add some kind of document of future plans to the repository. I'll think about what sort of format that should take.

[2017-12-20 17:26] nicklockwood commented on #82
Implemented in 0.6.8

[2017-12-20 17:26] #82 closed

[2017-12-20 17:27] nicklockwood commented on #72
I'd guess this is fixed now that the reload handler is a singleton? Let me know if you're still seeing it.

[2017-12-20 17:27] #72 closed

[2018-01-02 17:29] #62 closed

[2018-01-04 09:03] #84 closed

[2018-01-04 09:04] #83 closed

[2018-01-05 12:45] tomekc opened #94 "loadLayout causes infinite loop"
Not sure if it was my mistake, but following the manual I added loading code in `viewDidLoad`.
It ends up with an infinite loop. I am guessing it is caused by ***completeSetup*** method getting view, which causes UIViewController to load view again, and then rinse and repeat.

ViewController and XML are in a separate target (in attempt to modularize the app), and ViewController is instantiated pro

[2018-01-05 13:43] nicklockwood commented on #94
@tomekc is your view controller of class CandidateList?

If so, you probably need to remove the <CandidateList.CandidateList> root node from your XML, otherwise you are trying to load a new instance of the view controller into itself, hence the infinite loop.

I’ll try to make the error for this a bit clearer in the next version.

[2018-01-05 14:40] tomekc commented on #94
@nicklockwood Thanks, removing root node helped!
And yes, it is. I think I copied that pattern from example project, where the VCs are a root element of XML.

[2018-01-05 14:52] nicklockwood commented on #94
@tomekc yeah, the example is a bit unusual because the root node is a UITabBarController. It's fine to have a VC as the root node in your XML - it just can't be the *same* VC that you're trying to load the XML into.

[2018-01-05 14:53] mariob commented on #91
@nicklockwood Any thoughts?

[2018-01-05 15:02] nicklockwood commented on #91
@mariob sorry, I've not really had a chance to think about this any more since our last discussion. I think we're close to a good API, but still having trouble choosing between the different variants. It might be worth having a go at implementing it so we can try it out in practice. It's hard to get a sense for what the API is like to use without a practical use case, as toy examples like this can

[2018-01-05 15:30] mariob commented on #91
Sounds good. I can assist with writing a small app containing some common use cases if that would help.

For example, a login form with validation. Showing field validation errors underneath the text fields. Password with too few characters and incorrectly formatted e-mail address.

Might be able to "extract" more use cases form real world apps

[2018-01-05 16:00] #94 closed

[2018-01-05 16:01] nicklockwood commented on #91
@mariob yes, that would be helpful.

[2018-01-05 20:46] sebleclerc opened #95 "Embedded view disappear on layout reload"
Hi! I am reloading my layout using CMD+R, my embedded views disappear.

Here is my layout for my ViewController:
[code]

Inside my ViewController, I have a reference to my custom collection view and I add his view to my ```view1```:
[code]

Everything works as expected. I see my collection view loaded.

When I hit CMD+R, the collection view disappear and I see the read background from my ```view1`

[2018-01-05 20:51] nicklockwood commented on #95
Any programmatically-created views should be added inside `layoutDidLoad(_:)` instead of `viewDidLoad()`, that way they’ll be re-created after reload.

[2018-01-05 20:56] sebleclerc commented on #95
Yep that is exactly what I am doing.

[code]

[code]

[2018-01-05 21:00] sebleclerc commented on #95
Hum, I think I have found what is wrong even tho I don't know why. For some I had added the
``` if !childViewControllers.contains(controller) { ```
and
``` if !view.subviews.contains(controller.view) { ```

because I didn't wanted the same view to be added multiple times even if I call that util function multiple times. Now if I remove those verifications and always add child view controller and a

[2018-01-05 21:05] sebleclerc commented on #95
Oh well! Thanks for listening to me 😄 It is working!

and sorry for creating this issue.

[2018-01-05 21:05] #95 closed

[2018-01-06 22:19] FranDepascuali opened #96 "About the scope"
I've read the readme and had an overview of the code. I actually was thinking to develop something similar to what is achieved here.
Basically, what I would like is to be able to style the views and layout constraints via xml/json/reloadable content.

I started reading the readme and was pretty impressed, because this framework seems to have what I need. But then I realize that it is trying to sol

[2018-01-07 14:39] mariob opened #97 "safeAreaInsets broken"
`safeAreaInsets` seems to be broken if using `LayoutLoading` instead of inheriting `LayoutViewController` pre 6.9.11 (tested in 6.9.10).

In 6.9.11, the `safeAreaInsets` seems to be always broken, no matter how you load the view. Doing a reload with Cmd-R seems to fix the safeAreaInsets.

Example:
The xml file looks like this:
[code]

A broken _view controller_:
[code]

Result:
![broken](https://u

[2018-01-07 15:11] nicklockwood commented on #97
Thanks, I’ll investigate. Probably a race condition, as safe area isn’t set up immediately when the app loads IIRC.

[2018-01-08 09:48] nicklockwood commented on #97
@mariob can I confirm which version of iOS you're testing on? I can't reproduce this on iOS 11, but it seems to be happening on iOS 9.

[2018-01-08 09:55] mariob commented on #97
iOS 11. First I noticed it on my device and then I tried it in the simulator. I'm pulling in Layout from Cocoapods.

Xcode Version 9.2 (9C40b).

Interesting observation from my _real_ project:  First the view is loaded incorrectly and after a short while the view is positioned correctly, just like if the safeAreaInsets was updated lika a state-change.

Let me check if I still have the _toy_ projec

[2018-01-08 11:06] nicklockwood commented on #97
@mariob can you check the version I just pushed to the develop branch? If that solves the issue for you then I'll tag it and push a new release.

[2018-01-08 11:27] nicklockwood commented on #96
Hi @FranDepascuali, thanks for the feedback! You've made a lot of points here, so I'll try to address them individually:

Layout is not really frame based in the traditional sense because everything is an expression. When you set the width of a view in Layout, you can set it to be a min/max range, or make it relative to its content, or the width of a sibling view. I think you'll find that the expr

[2018-01-08 12:46] mariob commented on #97
@nicklockwood Looking good! Seems to work fine with your fix

[2018-01-08 13:41] nicklockwood commented on #97
@mariob Thanks for confirming! Fixed in 0.6.12.

[2018-01-08 13:41] #97 closed

[2018-01-16 07:34] mariob opened #98 "Warning (console?) if an outlet is assign more than once"
Just encounter this problem. Had two different views in different xml-files which was loaded from a main xml file (one was hidden when the other one was shown). By accident I had an outlet assign to a button from both views which of course gave some headache before I found out that the same outlet was assigned from both view and thus the first assignment was overwritten by the other one.

Would it

[2018-01-16 07:34] mariob commented on #98
I know that this shouldn't be a production problem. It's more of an help while developing.

[2018-01-16 16:26] nicklockwood commented on #98
@mariob good idea - should be doable.

[2018-01-16 17:32] nicklockwood commented on #98
@mariob OK, I've implemented this on the develop branch.

[2018-01-16 18:13] mariob commented on #98
Tried it and 👌

[2018-01-16 18:13] #98 closed

[2018-01-25 17:51] marciliojrs opened #99 "Animate view's height when scroll"
Hi! I'm trying to implement a collapsable header for my scrollview with Layout.

That's my view:

[code]

[2018-01-25 18:27] nicklockwood commented on #99
@marciliojrs I suspect the problem is that calling setState is re-rendering everything, including the contents of the scrollview. Can you upload the project so I can debug it?

[2018-01-25 19:08] marciliojrs commented on #99
@nicklockwood That's my suspect too, there's a way to avoid re-render everything? That's a client project so I cannot upload it but I'll try prepare a demo to show the problem.

[2018-01-29 18:19] emilva opened #100 "Update nokogiri"
GitHub alerted us that there is a known critical severity security vulnerability detected in nokogiri. Update suggested: nokogiri ~> 1.8.1.

[2018-01-30 12:19] #100 closed

[2018-02-07 16:48] comm1x opened #101 "Error "No such file" in templates"
Hi Nick!

I discovered the strange behaviour in Templates.
I have parent.xml, that uses template child.xml stored in subfolder. For example, folder structure:

[code]
In parent I use children like this:
`<UIView template="child1.xml"/>`

And when I run such code in emulator, I get an error `The file "child1.xml" couldn't be opened because there is no such file..`. Ok, I set `template="views/child1

[2018-02-07 16:59] comm1x commented on #101
Also I would say it was great to allow use templates only by file name or absolute path. Because if we build UI-components based on templates, we can use them from any places. And it will looks pretty, for example:

`<UIView template="MyIconHeader.xml" text="..."/>`
or
`<UIView template="/view-components/MyIconHeader.xml" text="..."/>`
instead of
`<UIView template="../../../view-components/MyIconH

[2018-02-07 17:05] nicklockwood commented on #101
@comm1x this probably relates to the how you've imported the xml files into your Xcode project. When you build your app, the folder structure of your application resources doesn't necessarily match the folder structure of your source files.

When you import xml files into Xcode, they'll normally end up in the root of your resource directory, which is why referencing them via "foldername/file.xml"

[2018-02-07 17:06] nicklockwood commented on #101
@comm1x I'll see if there's a way I can make this more intuitive. Maybe Layout should warn you when loading source files that don't exist in the application?

[2018-02-08 08:57] nicklockwood commented on #101
@comm1x yellow folders are real in the
sense that they exist on your Mac, but they are not replicated in the folder structure inside your built application. Only blue folders are replicated in the application bundle.

If you delete your folder full of xml files from your xcode project and then import it again using add files, you’ll get the options I mentioned.

[2018-02-08 09:14] comm1x commented on #101
I make reference folder (see blue xmls folder). In code I importi RowHeader.xm, but error still exists. What is wrong?
![](https://simplecat.tk/shots/shot-20180208-120630.png)

[2018-02-08 10:28] AlexMaTo opened #102 "UIStackView breaks constants ?"
Hello,

I'm trying to create a really basic UI in a xml file, something like this :

	<UIStackView
		width="min(auto + 20, parent.width - 20)"
		height="auto"
		left="50% - width / 2"
		top="50% - height / 2"
		alignment="center"
		axis="vertical"
		spacing="8">

		<UILabel
			width="auto"
			height="auto"
			top="50% - height / 2"
			left="previous.right"
			textAlignment="center"
			text="{attac

[2018-02-08 10:45] nicklockwood commented on #101
@comm1x  does it work if you use "xmls/RowHeader.xml" ?

[2018-02-08 10:47] comm1x commented on #101
@nicklockwood no, I tried :(

[2018-02-08 10:58] nicklockwood commented on #102
@AlexMaTo thanks for reporting. It looks like a bug in Layout - I'll take a look.

[2018-02-08 10:59] nicklockwood commented on #101
@comm1x can you send me your project - or a cut down version that demonstrates the problem?

[2018-02-08 11:02] comm1x commented on #101
@nicklockwood ok, I will publish project in github several hours later and notify you.

[2018-02-08 20:02] comm1x commented on #101
@nicklockwood Published demo here: [github.com/comm1x/demo-layout](https://github.com/comm1x/demo-layout)
See `src/parent.xml` and `xmls/RedSquare.xml`.

![](https://simplecat.tk/shots/shot-20180208-230129.png)

[2018-02-09 16:46] nicklockwood commented on #101
@comm1x thanks uploading the project. The problem is that your `parent.xml` file is not in the same place in your source directory as it is in your app. You source directory structure looks like this:

[code]

But while the `xmls` folder is real, the `src` folder is virtual, so the structure inside your built app bundle ends up like this:

[code]

The template path is relative to the xml file that

[2018-02-09 18:34] comm1x commented on #101
Ok, I got it. This is the similar approach like in android (put all views into one folder). But this is not convenient. We should always switch between two different places: controller's folder, and view's folder. In android studio can do it fast, because IDE can help you. But with Layout - not.

I think it would be better to allow store xml-layouts files anywhere.
Usually, we have common widgets

[2018-02-12 09:58] comm1x opened #103 "UITableViewCell based on Layout is invisible"
I have UITableViewController based on storyboard, and want to use cells based on Layout.

Class of Cell
[code]

RecipeCell.xml just `<UIView width="100" height="100" backgroundColor="red"/>`.

And in table delegate I just return new cell.
[code]

And finally I have invisible empty white cells. All necessary code and methods (init, layoutSubviews) are executing, but there is no any effect for view.

[2018-02-13 15:34] nicklockwood commented on #103
@comm1x Your RecipeCell.xml should have a root node type of `<UITableViewCell/>`. I'm not sure why you're not seeing an error when using a plain `<UIView/>` for the cell, but I don't think that's supported.

[2018-02-13 18:58] comm1x commented on #103
@nicklockwood I tried view
[code]
and other now, and it is not working too.

[2018-02-15 23:36] nicklockwood commented on #103
@comm1x sorry, I misunderstood what you were trying to do. Normally, when loading a cell using layout you would define the cell in xml and then load it from the table view controller (as shown in the example app).

Loading the xml *into* the cell as a subview like you are doing here *ought* to work, but I’ve never tried it, so there may be a bug. I’ll try to replicate it.

[2018-02-17 19:56] comm1x commented on #103
The problem was resolved after adding `try? self.layoutNode?.mount(in: self)` in `RecipeCell`.

Offtop
I prefer to implement cells like things-in-self (incapsulated) components. And instead of

[code]

use something like this

[code]

And in RatingCell class I implement business logic for this component, like `loadModel(model)`, `markSelected()`, `collapse()` and so on.

And, my point is... It is

[2018-02-26 11:08] comm1x opened #105 "UIScrollView doesn't work with dynamic content"
`UIScrollView` works fine when we describe our view hierarchy using only xml.
[code]
But with dynamic content I have some troubles. UIScrollView not working at all. It displays content, but doesn't scroll it.

For example, I have structure of UIViewController:

[code]

Then, I add some views using `stackView.addArrangedSubview(SomeViewComponent())`. And after this scroll view doesn't work.

[2018-02-26 12:08] comm1x commented on #105
The problem is fixed by adding `stackView.bottomAnchor.constraint(equalTo: scrollView.bottomAnchor).isActive = true` after initialization. Can we do it automatically?

[2018-02-27 13:58] hermanccw opened #106 "[Question] need help laying out a tableview cell"
Hi there,

Need some help to layout the following cell correctly.  The cell is simple, just a label and a button next to it.  What I want is to have the label with 15px left margin and the button to have a 15px right margin and at least a 10px space in between the two element.  So far I have the following but is not really what I want, any hints?

[code]

[2018-02-27 15:59] palleraccio opened #107 "NSUnknownKeyException using UITextView"
Hi everyone,

I've encountered an issue adding a simple `UITextView` from a xml file.

This is the exception that is thrown:

`Terminating app due to uncaught exception 'NSUnknownKeyException', reason: '[<UITextView 0x7fd26f830c00> valueForUndefinedKey:]: this class is not key value coding-compliant for the key lineBreakMode.`

and this is the UITextView definition:

[code]

I've tried to pass in

[2018-02-27 17:24] nicklockwood commented on #107
@palleraccio thanks for reporting. I'll put up a fix asap. In the meantime, using the `text` property instead seems to work:

        <UITextView
            width="auto"
            height="auto"
            dataDetectorTypes="phoneNumber, link"
            isEditable="false"
            text="Hello world!"
        />

[2018-02-27 19:32] nicklockwood commented on #106
I think this should do what you want.

[code]

I've positioned the button relative to the right-hand edge, then set the right edge of the label to the left edge of the button - 10. I'm not sure if you still want the - 15  in the button width, but it works with or without it.

[2018-02-28 16:05] nicklockwood commented on #107
@palleraccio fixed in version 0.6.18

[2018-02-28 16:05] #107 closed

[2018-02-28 16:42] palleraccio commented on #107
@nicklockwood ..perfect! I've tried your fix and it works like a charm! Thanks :-)

[2018-03-01 06:39] hermanccw commented on #106
@nicklockwood thx, forgot about `right`.

[2018-03-01 06:39] #106 closed

[2018-03-01 07:10] hermanccw opened #108 "UITableView width not set to 100% until reload on iPhone 7/8 simulator"
Hi there,

Basically I have a Parent VC that is a subclass of `UINavigationController` and I added a ChildController with the same width and same height has the parent controller.  This child controller takes a `struct` which has a `didSet` method that reload the table when a value is set.  The view comes up ok when I set the struct normal, the problem is when I set the struct within a `Dispatch.m

[2018-03-03 14:43] comm1x opened #109 "Create cookbook and telegram channel"
Let's create folder with Layout's "cookbook".
I think it will be good to describe common cases for applying Layout.

I use hybrid approach for developing for iOS. I use native view controllers, but views and view-components create with Layout. And I would to publish some easy examples, like "How to use Layout's cells in native tables", "How to create incapsulated (self baked) view components and u

[2018-03-06 05:03] rachelfong opened #110 "[Question] Using Layout with RxCocoa"
I am currently creating a project in Swift which heavily relies on RxSwift and RxCocoa. Are there some basic tutorials in place for binding using RxCocoa?

[2018-03-06 10:01] nicklockwood commented on #110
@rachelfong I'm afraid I don't have any experience with RxSwift/Cocoa, and there's no support for them built into Layout, but if bindings can work with ordinary IBOutlets then you should be able to use them with Layout in the same way you would with a Storyboard.

[2018-03-07 06:03] hermanccw commented on #108
hey, @nicklockwood, just wondering if you have gotten a chance to look at this.

[2018-03-08 11:50] mariob commented on #110
@rachelfong, I've wrote a post about this topic a while ago on medium. It shows how you can create an Reactive extension which returns a Binder for state variables, if that's the preferred way for you to go. Else you could just use outlets as suggested by @nicklockwood. Works exactly the same as you'd expect from storybords.

https://medium.com/@marioboikov/rxswift-and-layout-aaf0ffce90e6

If you

[2018-03-09 14:05] comm1x commented on #105
I have controller with view, and add 50 label dynamically.

TestController.swift
[code]

TestController.xml
[code]

In this example scroll works fine. But if I remove `contentSize.height="auto - 1"` or `stackView.bottomAnchor.constraint(equalTo: scrollView.bottomAnchor).isActive = true` line, it breaks and scroll stop working.

Also I discovered
`contentSize.height="auto - 1"` - works fine
`conten

[2018-03-09 14:40] comm1x commented on #105
But after change orientation, scroll still stops working.

[2018-03-26 06:38] AlexMaTo commented on #102
Hum... Unfortunately I'm facing the same issue using the version 0.6.18, is it the last one ?

I got around the issue by using simple UIView, not very clean but, eh, it's working.

I put the XML file as an attachment, it's not really clean as I just replaced the UIView with UIStackView but it's just for test purpose.

[AttachmentDetailViewV2.xml.txt](https://github.com/schibsted/layout/files/18465

[2018-03-29 14:04] #99 closed

[2018-03-29 17:56] SilverTab opened #114 "UIScrollView's content size doesn't get updated properly for dynamic subviews..."
I'm not sure if I'm doing something wrong but, if I have a UIScrollView with the `contentSize.height` set to `auto`, and some of the views inside the scrollview change their height (by changing their `intrinsicContentSize` and then call `setNeedsLayout/layoutIfNeeded`), the containing scrollview's `contentSize` doesn't seem to get recalculated properly.

It does grow, so I assume there is some rec

[2018-04-02 14:49] igor-makarov opened #115 "RTL support?"
I am wondering about support for right-to-left (RTL) languages. From what I understand, this library is based on UIKit's frame-based layout, which does not support RTL.
For RTL, Apple suggests using auto layout's leading and trailing anchors for everything, unless the UI is sensitive to handedness - player controls, navigation, etc.
How can we go about implementing leading and trailing properties

[2018-04-03 19:20] valentinradu opened #116 "Adding a way to reference children from parent"
If I'm not mistaken, right now there is no way to get the content between the tags and use it in another manner than direct children. This makes things a bit difficult when wanting to manipulate your children inside the parent. Would this be a desirable feature? Is there a way to do this right now?

[code]

[2018-04-03 23:07] nicklockwood commented on #116
You’re not mistaken - there’s no way to do this currently. This looks like a good solution though.

[2018-04-03 23:08] nicklockwood commented on #115
This is something I’ve been considering for a while, but haven’t gotten around to yet.

I’ll try to get a solution for it into the next release.

[2018-04-04 15:58] nicklockwood commented on #115
@igor-makarov version 0.6.19 (just released) includes support for using leading/trailing instead of left/right. Let me know if you have any problems with it.

[2018-04-04 15:58] #115 closed

[2018-04-04 16:21] nicklockwood commented on #109
Hi @comm1x this sounds great! Do you have some examples already that would be suitable for the cookbook folder? Do you think the cookbook would replace the SampleApp, or maybe could be incorporated into it somehow?

I don't use Telegram so I don't know much about it. Is a Telegram channel similar to Slack?

I don't have a lot of capacity to set up and maintain learning resources for Layout, but if

[2018-04-05 09:46] nicklockwood commented on #116
@valentinradu I've added support for a `<children/>` tag in templates. It's on the [develop](https://github.com/schibsted/layout/branches) branch if you want to try it out.

[2018-04-05 10:00] valentinradu commented on #116
Wow, that's awesome. Wanted to implement it myself over the weekend since I couldn't find the time this week. But thank you, I'll check it out!

[2018-04-05 18:03] nicklockwood commented on #116
@valentinradu OK, this has landed in version 0.6.21

[2018-04-05 18:03] #116 closed

[2018-04-12 14:50] tmm1 opened #118 "Obj-C support?"
Layout looks very cool and I would love to be able to start using it in a legacy obj-c app.

Looks like the first step would be to add @objc attributes to the protocols: https://stackoverflow.com/questions/25266137/swift-protocol-in-objective-c-class

[2018-04-12 15:42] tmm1 commented on #118
Found https://github.com/schibsted/layout/issues/77 which was closed due to not being able to subclass LayoutViewController from obj-c, but now that the ViewController is deprecated in favor of a protocol this might be more feasible.

[2018-04-12 15:46] nicklockwood commented on #118
@tmm1 I don't have a lot of time to look into this at the moment, but I'd be amenable to a pull request that adds Objective-C support if it doesn't require breaking changes to the interface.

[2018-04-23 07:13] rachel-13 commented on #110
Thank you for the blogspot. It was very helpful. Closing this issue for now.

[2018-04-23 07:38] #110 closed

[2018-04-26 01:24] viniciussoares opened #119 "Global/Default xml constants"
My current project is an universal app and most of my xml require some tweaks depending on the device type (iphone/ipad) and size (width and height). Usually is simple things, like font size or view height.

It would be cool to be able to define global constants or have a defined set of constants like `ipad`, `iphone`, `deviceWidth`, `deviceHeight`:

[code]

There's a way to do this today? What yo

[2018-04-26 07:52] nicklockwood commented on #119
@viniciussoares there's no way to specify global constants currently, but if you create a global dictionary of these constants then you can pass it into the contructor of every LayoutNode quite easily without doing anything in the XML:

[code]

Alternatively, if you have device-specific fonts or colors you can define these as static methods of UIFont and then use them directly in your XML:

[code]

[2018-04-26 17:41] viniciussoares commented on #119
Make sense, thanks @nicklockwood 🎉

[2018-04-26 17:41] #119 closed

[2018-05-04 16:31] joelbanzatto opened #120 "UITableViewCells underneath headerview"
Hello,

I am trying to put a Header View into TableView this way:
[code]

But the cells come underneath the header view (screenshot) what I am doing wrong?

<img width="372" alt="screen shot 2018-05-04 at 13 30 26" src="https://user-images.githubusercontent.com/1151054/39639355-673a261e-4f9f-11e8-9611-a6c60d4d5b76.png">

Thanks!

[2018-05-04 17:10] nicklockwood commented on #120
Unfortunately it seems like UITableView doesn’t handle automatic height calculation for table sections headers correctly and I haven’t managed to work out why yet.

It looks like the height of your header is fixed by the avatar image size anyway, so if you set the tableView sectionHeaderHeight to 80 instead of the estimatedSectionHeader height I think that will work.

[2018-05-04 17:32] joelbanzatto commented on #120
@nicklockwood It works greatly fine if you use UIView instead the UITableViewHeaderFooterView.

Thanks for your reply!

[2018-05-04 17:33] #120 closed

[2018-05-04 17:38] nicklockwood commented on #120
@joelbanzatto ah right, I thought you were using it as a section header not a header for the whole table. UITableViewHeaderFooterView is only used for section headers.

[2018-05-08 14:10] rcstuber opened #122 "State variable in UILabel body leads to poor performance"
I experienced when using a state variable inside a UILabel's body text instead of using the `title` property execution gets extremely slow, especially when using inside `UITableViewCell` with many rows.

[code]
Why would I use the body instead of text property? I.e. to make use of the attributed text markup features `<UILabel><b>{name}</b></UILabel>`

I assume it has to do with the (X)HTML parser,

[2018-05-08 15:13] rcstuber commented on #122
I now measured execution time  of the `node.setState` in a `tableView:cellForRow` (averaged over many calls while scrolling) once using the `text` property and once the rich text support. It proved my point.

Rich Text: ~ 0.013 ms / per call
Text Property: ~0.0033 ms / per call

So there is a magnitude of ~4x here on the iOS Simulator. I did that in the Sample App so it's not somewhere in my code,

[2018-05-08 18:13] nicklockwood commented on #122
@rcstuber I found the problem. I've pushed an update to the [develop branch](https://github.com/schibsted/layout/tree/develop) that should fix it.

[2018-05-09 17:27] rcstuber commented on #122
@nicklockwood Awesome, you're so quick! I pulled the develop branch and ran the same test.
Rich Text: ~ 0.0047 ms / per call
Text Property: ~0.0033 ms / per call
Now that looks much much better! I will close the issue.

[2018-05-09 17:27] #122 closed

[2018-05-16 07:58] trevinwisaksana opened #123 "Failed to Install the Xcode Editor Extension"
Hi, I have an issue with installing the **Editor Extension**. When I dragged the **Editor Extension** to my **Applications** folder, the **Extensions** panel in the **Systems Preferences does not show "Xcode Source Editor Extensions".** Moreover, Xcode is not able to detect this extension either. In other words, I believe the extension fails to install. I am using a MacBook Pro late-2013 running m

[2018-05-16 08:26] nicklockwood commented on #123
Did you run the application after installing it?

[2018-05-16 08:30] trevinwisaksana commented on #123
Yes, I did. It showed a short list of instructions. I opened **System Preferences** and clicked on **Extensions** as written on the instructions. But **Xcode Source Editor** is nowhere to be found.

[2018-05-16 09:39] nicklockwood commented on #123
Hmm, I don't know what the issue could be then. Your OS version and setup sounds identical to mine.

[2018-05-16 09:43] trevinwisaksana commented on #123
Gotcha, I'll try to install other Xcode Source Editor Extensions and see if it reacts the same way. If it does, it's probably my setup. Thanks for your help :)

[2018-05-26 23:21] den2k opened #125 "Strange SafeAreInset.left error"
The Red Box debugger shows the following error:

I'm new this library so not sure about what I'm doing wrong using the following code in an top.xml call using

[code]

[2018-05-27 15:46] den2k commented on #125
ok thanks.  I'll try this.

[2018-05-27 16:31] den2k commented on #125
This worked.

[2018-05-27 16:31] #125 closed

[2018-05-27 16:31] den2k commented on #125
Thanks.

[2018-05-30 17:24] silentninja opened #126 "Accessing optional nested struct value"
I am trying to access a nested struct value using dot notation.
Something like this
[code]
The error says it is an unknown property.
[code]
Is there any way to unwrap the optional value in the template

[2018-05-30 17:40] nicklockwood commented on #126
This looks like an oversight in Layout’s type system. I don’t think there’s a workaround other than making the value non-optional - I’ll try to fix it for the next release.

[2018-05-31 05:07] silentninja opened #127 "Custom property setValue being called multiple times when the value is an object"
Current Behaviour:
When setting the value of a custom property as mentioned here https://github.com/schibsted/layout#custom-property-types , setValue is being called multiple times with same value name but If it is a native type setValue is called only once.

Expected behaviour:
setValue should be called only once when a custom object is used instead of native type.

More details:
It gets called o

[2018-05-31 05:20] silentninja opened #128 "Setting custom property value once initialised"
Is there a way to set custom property value once the view size is initialised. I want to know the size of the view before setting the value, using frame.size.height returns zero since the frame is initialised with zero

[2018-05-31 10:34] nicklockwood commented on #128
There’s currently no way to control this, but the property will be set again once the frame size is set so a (possibly ugly) workaround would be to override the setter for the property and ignore the value if the frame size is currently zero.

[2018-05-31 10:39] nicklockwood commented on #127
For non-constant expressions, Layout will often set the value multiple times. There are optimizations in place to avoid setting the value again if it hasn’t changed, but this only works for values that conform to Equatable.

It’s possible you can fix this by implementing Equatable for your custom object. If you have already done this, then this might be a bug, in which case a code sample or unit t

[2018-05-31 18:20] silentninja commented on #127
I tried implementing equatable protocol but the equatable method is not even being called. I tried comparing two objects separately and equatable method gets called and returns the comparison value correctly.

[code]

[2018-05-31 18:31] silentninja commented on #128
I am doing the exact same thing, looks hacky but gets the job done!

[2018-05-31 18:31] #128 closed

[2018-06-04 06:18] ardramli opened #129 "Could not cast value of type '__NSCFNumber' (0x10cc8c2d8) to '__C.NSLineBreakMode' (0x102ac8818)"
I'm getting this error:
`Could not cast value of type '__NSCFNumber' (0x10cc8c2d8) to '__C.NSLineBreakMode' (0x102ac8818)`

in LayoutExpression.swift line 749.
It's working fine on the Simulator, but when I run on actual device, my app crashed and gave me this error.

I'm not sure what I did wrong but it only happens on one ViewController. While others works just fine.

[2018-06-04 08:01] nicklockwood commented on #129
If you could submit a sample project that demonstrates the problem, I’ll try to track it down.

[2018-06-05 01:53] ardramli commented on #129
I figured out what causes the crash. It's when I'm trying to set a constant for attributedTitle for a UIButton. Then, I create an outlet of the UIButton and used `myButtonsetAttributedTitle(attributedString, for: .normal)` it's no longer crashing. Maybe you can fix it.

[2018-06-05 18:32] nicklockwood commented on #127
@silentninja sorry, I think I was wrong about Equatable being sufficient. Can you try implementing Hashable?

(FYI, if you are using Swift 4.1 or above I think you can omit the implementation of  == and hashValue and Swift will synthesize them automatically.)

[2018-06-05 23:22] Kaspik opened #130 "Swift 4.2 / XCode 10 compatiblity"
Hey team!

Currently Layout is the only pod inside our huge app that is not working on XCode 10 beta. I'm not opening this as issue that should be addressed ASAP to release, but to start conversation and migration to this version at least on some branch or master.

Here are things that are not working:
`AnyExpression.swift`
- `'ImplicitlyUnwrappedOptional' has been renamed to 'Optional'`
<img widt

[2018-06-06 00:48] nicklockwood commented on #130
@Kaspik I’ve already completed most of the fixes. Should have a 4.2-compatible release ready shortly.

[2018-06-06 00:57] nicklockwood commented on #130
@Kaspik OK, I've pushed a version that supports 4.1.5 to the develop branch (4.1.5 is what Xcode 10 beta uses when you select "Swift 4" as the language version, and it's probably what you're using based on the errors you reported).

Full Swift 4.2 support will take a little bit longer as Apple has renamed a load of UIKit methods and constants.

[2018-06-06 00:58] nicklockwood commented on #129
@ardramli this is now fixed on the develop branch.

[2018-06-06 00:58] nicklockwood commented on #126
@silentninja this is now fixed on the develop branch.

[2018-06-06 00:59] Kaspik commented on #130
Ohh perfect, yeah, I don’t need 4.2 probably if 4.1.5 is what XCode 10 uses. I’ll try the branch. Thank you!

[2018-06-06 03:19] Kaspik commented on #130
@nicklockwood Perfect, develop works a so the app, thank you!

[2018-06-06 14:02] nicklockwood commented on #130
Fixed in version 0.6.25

[2018-06-06 14:02] #130 closed

[2018-06-06 14:02] nicklockwood commented on #129
Fixed in version 0.6.25

[2018-06-06 14:02] #129 closed

[2018-06-06 14:02] nicklockwood commented on #126
Fixed in version 0.6.25

[2018-06-06 14:02] #126 closed

[2018-06-08 11:57] silentninja commented on #127
When conforming to Hashable setValue method of the extension is not being called when again when the frame height is set( gets called only once when the frame size is 0).

I noticed that when using tableview, reloading data and sections as soon as the tableview is set reduces the call to 2 times(one when the frame is 0 and when the frame is of specified size).

[2018-06-28 16:22] aledalgrande opened #132 "The target “Layout” contains source code developed with Swift 2.x"
When I create a new project and install the pod version 0.6.27, open Xcode 9.4.1 I get:
[code]

Is it because I created an Obj-C project?

[2018-06-28 16:34] nicklockwood commented on #132
I think it may be because the .swift-version file in the Layout repo is still set to 3.1, which I should probably update.

If you manually set the Swift version in the Pods > Layout target, it should solve that (although I'm getting a bunch of errors when I try it that may or may not be related)

[2018-06-28 16:41] nicklockwood commented on #132
FYI, you can use this solution in your Podfile to avoid having to set the swift version manually every time you run `pod install/update`: https://stackoverflow.com/questions/40501440/how-to-set-the-legacy-swift-version-for-each-pod-in-podfile-xcode-9-0-swift-3-2

[2018-06-29 04:10] aledalgrande commented on #132
yeah setting to 4.0 worked

[2018-06-29 04:10] #132 closed

[2018-07-11 21:31] alexandrius opened #133 "AppCode support?"
First of all you people are amazing! This is what iOS needs for a long time.
Since XCode is terrible IDE, it would be awesome if you add the AppCode support.

[2018-07-11 21:40] nicklockwood commented on #133
Thanks! Can you clarify what you mean by “AppCode support”? Layout shouldn’t require any special support in the IDE. Do you mean something like a plugin for formatting Layout XML files?

[2018-07-11 21:44] alexandrius commented on #133
I mean the AutoCompletion and XML formatting yes.

[2018-07-16 12:45] wpcfan commented on #102
I just change the example xml, and run into this

[code]

strings

[code]

[2018-07-18 22:29] marciliojrs commented on #101
@comm1x I resolved this issue loading the reusable xml file in `layoutDidLoad` method and inserting it into layoutNode.

[code]

[2018-07-19 13:38] algrid opened #134 "UIVisualEffectView support"
Hey, thanks for a great framework!

I have a question/feature request.

As I can see currently one can't use `UIVisualEffectView` in layout. If I add it with some subviews I get a runtime crash saying that subviews shouldn't be added directly, instead one should add them to  `UIVisualEffectView`'s `contentView`.

It'd would be nice to support this automatically and also allow to set a visual effec

[2018-07-19 14:09] nicklockwood commented on #134
@algrid thanks for reporting this - I'll try to get it fixed asap.

[2018-07-19 14:47] nicklockwood commented on #133
@alexandrius there's no autocompletion support in Xcode, only for SublimeText. I'd like to add it but there's no way with the current Xcode plugin system. I'll see if AppCode is more flexible.

[2018-07-20 11:01] nicklockwood commented on #134
@algrid this is fixed in 0.6.28.

[2018-07-20 11:01] #134 closed

[2018-07-20 11:02] nicklockwood commented on #102
@AlexMaTo thanks to @wpcfan's example, I was able to reproduce this. It should be fixed in 0.6.28.

[2018-07-20 11:03] #102 closed

[2018-07-27 05:53] wpcfan opened #135 "0.6.28 not available in cocoapods?"
The lastest version on cocoapods is still 0.6.27

[2018-07-27 07:58] nicklockwood commented on #135
@wpcfan this is now fixed, thanks.

[2018-07-27 07:58] #135 closed

[2018-07-28 22:05] den2k opened #136 "How best to use UITextField"
I'm pretty new to Layout and need some help.  I'm using loadLayout to create a login page, but I am wondering how I bring the values that a users enters back to the LoginScreen view controller?  I did not find specific examples of text inputs for this framework. Should I add an IBOUTLET in the view controller? Do I need to include a STATE or CONSTANTS in self.loadLayout?  Any suggestion would be h

[2018-07-29 17:04] nicklockwood commented on #136
Yes, you should use an IBOutlet to get the value out of the text field. Add the outlet to your view controller and then reference it in your UITextField xml using `outlet=“foo”` where foo is the name of the outlet variable.

If you need to set the value in the field (e.g. to pre-populate it with a default or previously set value) then you could do this by using constants or state and adding `text=

[2018-07-30 09:52] algrid commented on #134
@nicklockwood it works great, thank you!

[2018-07-31 04:00] den2k commented on #136
Thanks. Looks like its working. Here is what I did which may help others.

[code]

[code]

[2018-07-31 04:00] #136 closed

[2018-07-31 04:53] TwunTee opened #137 "UiLabel text alignment throws error"
When I add textAlignment="center" to UILabel I get an error

[code]
I am using Layout version : "0.6.28"
Swift version: 4.1

[2018-07-31 14:19] TwunTee opened #138 "Bottom property of view referenced through id is wrong with new Layout system"
I am using the new layout system using legacy layout = false. When i am using previous.bottom the view gets the value properly but if i access the bottom property of the view through id reference like #viewId.bottom the value is wrong, other properties like left and top seem to work fine

[2018-07-31 14:37] nicklockwood commented on #138
I'm not 100% sure this is a bug. The value returned by `bottom` is context-dependent, because if you set `top="previous.bottom"` on a view then you want `bottom` to be the absolute position relative to the containing view, but if you set `bottom="previous.bottom"` then you want it to be the exact value you specified in the expression.

Can you show me the context in which you are using it?

[2018-07-31 19:50] SilverTab opened #139 "LayoutNode are never released"
I'm not sure what I am doing wrong, I have a simple view controller with a UICollectionView, and I am using Layout for both the view controller and the cells in the collection view, however, it looks like all the LayoutNodes that are created are never released... Just going back and forth to that view controller quick leads to an out of memory crash.

I've peaked at the memory graph but didn't fin

[2018-07-31 19:54] SilverTab commented on #139
Here's what the memory graph looks like for these leaked LayoutNodes:
https://i.imgur.com/vClCQNX.png

And here are for example, the leaked image views contained in the leaked layout nodes:
https://i.imgur.com/H1dv1ZG.png

[2018-07-31 20:14] nicklockwood commented on #139
Thanks, I’ll see if I can repro.

[2018-08-01 04:02] TwunTee commented on #138
I am trying to create a layout like

[code]
The layout code is

[code]
In the above code subTitle aligns on the top instead of bottom of title but if i use previous.bottom it gets aligned correctly

[code]

If I use legacy layout both work as they should ie subTitle gets aligned at the bottom of title.

[2018-08-01 11:48] nicklockwood commented on #139
@SilverTab OK, the leak seems to have been introduced in 0.6.28. Try using 0.6.27 for now and I'll work on a fix.

[2018-08-01 13:51] SilverTab commented on #139
Unfortunately, I can repro it in 0.6.27: https://i.imgur.com/pxfcD9v.png

And my simple test project was actually using an even older version (0.6.18).

[2018-08-01 14:11] nicklockwood commented on #139
@SilverTab in that case, can you upload your test project? I think it might be a different issue from what I'm seeing.

[2018-08-01 14:13] nicklockwood commented on #138
@TwunTee I've pushed a fix to the develop branch.

[2018-08-01 14:42] SilverTab commented on #139
Here you go:

Steps to repro:

1) Run the app
2) Tap on the button to show the layout-backed view controller
3) Tap button to dismiss newly shown view controller.
4) Repeat 10-12 times
5) Hit the Debug Memory Graph button.
6) Filter the list of objects in memory for "LayoutNode" to see all the nodes still in memory, and then filter it for "ImageView", to see that all the views are also still in me

[2018-08-01 15:56] nicklockwood commented on #139
@SilverTab this is fixed in version 0.6.29. Thanks for reporting it!

[2018-08-01 15:56] #139 closed

[2018-08-01 15:57] nicklockwood commented on #138
@SilverTab the fix has landed in version 0.6.29. Thanks for reporting it!

[2018-08-01 15:57] #138 closed

[2018-08-01 17:57] SilverTab commented on #139
@nicklockwood Woo! Can confirm that the new version appears to fix all the leaks I was seeing in both projects where I am using Layout! 👍

[2018-08-02 03:50] TwunTee commented on #139
I am facing this problem when i reload the layouts using cmd + R. I am assuming it might be the same issue, I have a similar app structure too will test out and see if I am getting the same issue

[2018-08-02 10:26] nicklockwood commented on #139
@SilverTab I've found the problem. Can you believe it was a single missing `weak`?! anyway, version 0.6.30 includes the fix.

@TwunTee can you try to reproduce your issue with 0.6.30? If it's still happening, please open a new ticket, as it's probably a separate issue

[2018-08-02 13:45] SilverTab commented on #139
@nicklockwood I can totally believe it, as I've been bitten before too :P

Can confirm that there seems to be no leaks now! Woo!

[2018-08-02 20:27] jhays opened #140 "Layout error: Layout found multiple source files matching /en.lproj/Localizable.strings"
I am attempting to use another library (ZendeskSDK) that requires importing a .bundle file alongside their framework into the project. This bundle contains its own Localizable.strings files. After importing this bundle and running the app, Layout fails and prints the following line many times to the log:

Views using Layout and attempting to read from the app's Localizable.strings file end up brok

[2018-08-06 08:14] nicklockwood commented on #137
@TwunTee any update on this? Have you managed to reproduce it?

[2018-08-06 16:34] jhays commented on #140
Hi Nick,

No, I am not seeing that screen when running my project in simulator. Instead I see a mostly black, broken layout of my root view. (It seems the elements that are broken are referencing localized strings)

I've recreated the issue in a sample project here, the additional conflicting strings file is within the Zendesk bundle:
https://www.dropbox.com/s/9yoxzffguxm7f2p/LayoutExample.zip?dl=

[2018-08-07 14:41] nicklockwood commented on #140
@jhays OK, it seems to be because of Carthage. For some reason when you use Carthage to integrate Layout then `#if DEBUG` within the framework, even if you're running in debug mode. I'll see if I can find a workaround for this, but in the meantime you can work around it by adding this code inside `application(_:didFinishLaunchingWithOptions:)` (or wherever seems appropriate):

    #if DEBUG
    La

[2018-08-07 15:03] jhays commented on #140
Great, thank you for the help!

[2018-08-07 15:03] #140 closed

[2018-08-08 08:20] TwunTee opened #141 "Correct method to use for setting TableView Cell view data"
I have a custom tableview cell defined in its own class and I have linked few outlets. setLayoutState seems to be working without any problem, but when i am trying to access the outlets in
[code]
I get nil outlets when scrolling, seems to be happening when the cell is reused. Is there any method which is called when the cell is shown

[2018-08-08 08:46] nicklockwood commented on #141
@TwunTee you might need to call `setState()` or `update()` on the cell node before trying to reference the outlets.

[2018-08-08 08:52] TwunTee commented on #141
I am accessing the outlets right after setState

[2018-08-08 08:59] TwunTee commented on #141
[code]
I am calling refresh state method of the cell in
func tableView(_ tableView: UITableView, cellForRowAt indexPath: IndexPath) -> UITableViewCell

But likeButton seems to be nil when scrolling, its not nil initially

[2018-08-08 09:05] nicklockwood commented on #141
@TwunTee hmm, that all looks correct. Can you upload a sample project so I can investigate?

[2018-08-08 09:46] TwunTee commented on #141
It was a mistake on my end. One of the object inside the struct was nil and i was trying to access its property and that was causing the error. Thanks for helping out!!

[2018-08-08 09:46] #141 closed

[2018-08-16 14:10] den2k opened #144 "UITextField unexpected response issues"
I have a strange problem I cannot figure out. I have used multiple text fields with Layout (ie; login, create account) that all work with the simulator and actual phones like the following.

Version: 0.6.30
[code]

But the following text field does not work on an iPhone X. I tap in and the text field does not respond by giving me a cursor. This code and text field works fine on an iPhone 6s. I'll

[2018-08-16 16:30] nicklockwood commented on #144
@den2k could you submit a simple project demonstrating the issue and I’ll try to figure out what’s happening.

[2018-08-23 06:57] benkraus commented on #24
Just thought I'd share the situation I'm in: I'm in an interesting place currently, where I have a view that needs to have multiple lists of things, very low counts of items (3-4 each). In this case, a layout loop I think would be preferred, but a table view with a predefined datasource would also work.

At his point I'll need to have 2 table views, and inside the datasource distinguish between th

[2018-09-03 12:13] yasuda0321 commented on #103
Hi.I am facing a similar problem too.

I implemented layout based UITableView sub class, but warning is displayed.
Warning message is "Unknown property title in text expression in UILabel in UIView in MyTableViewCell.xml...".

My code snippets and environments are bellow.

### environments
Layout version : "0.6.28"
Swift: "4.1"
Xcode: "9.4.1"
iOS(simulator): "11.4"

### xml file
[code]
### view co

[2018-09-07 17:39] den2k commented on #144
this is the project - the problem still exists. Moved on to other things. but still researching the problem.

https://github.com/den2k/TIMII

[2018-09-08 02:22] den2k opened #145 "How to use Bool variables with parameter passing?"
I've been getting errors with the following example code and it may be syntax.   I can pass Strings using parameters but not having success with Bool.

Template.xml
[code]

Separate file.xml
[code]

[2018-09-08 07:43] nicklockwood commented on #145
@den2k this looks correct to me. What happens when you try it?

[2018-09-11 15:33] den2k commented on #145
it crashes.  I've since created a separate Bool param using the same code and it now works.  Not sure what I was doing wrong. closed issue unless I can reproduce this problem. thanks.

[2018-09-11 15:33] #145 closed

[2018-09-20 15:15] #144 closed

[2018-09-21 04:56] den2k opened #146 "Anyone have trouble using outlets within a UITableViewCell.xml file?"
This is the following code I'm having trouble with which produces the following error.

UITableViewCell does not have an outlet named journalTextView.....

The setState value for ""journal" works as well as other variables... so sure the issue. Scratching my head for 2 days off and on.

[code]

TableScreen.xml

[code]

Cell.xml
[code]

[2018-09-21 05:44] nicklockwood commented on #146
@den2k Layout only supports automatic binding of outlets in table view cell subviews to the cell itself.

If you want to bind an outlet for a view inside the cell to your view controller, you’ll need to do it manually inside the tableView(_:cellForRowAt:) method.

[2018-09-22 01:37] den2k commented on #146
That sounds great! Just not sure how.. ;) .  I'm a novice to this so..

This is what I will experiment with.  Thanks for the quick response.
[code]

[2018-09-22 02:16] den2k commented on #146
So I eventually added this to inside the tableView(_:cellForRowAt:) method with still not success... :( . I'll keep plugging away.

In case you are wondering. This is the table view controller:
https://github.com/den2k/TIMII/blob/master/TIMII/Views/TimelineTableScreen.swift

[code]

[2018-09-22 21:12] den2k commented on #123
Would there be reasons for Layout Extensions not to work with macOS 10.14 and XCODE 10?  I have successfully installed this as an XCODE Extension and even see 'Layout' in the XCODE / Editor menu but it is grayed out for some reason. Thanks.

[2018-09-27 01:30] den2k commented on #146
I'm really struggling to find an answer:

So far I've look at
- bind(:to)
- outlet: #keyPath
- weird hacks.

I doubt I'm doing this correctly so any support would be wonderful.

[2018-09-27 11:20] nicklockwood commented on #146
@den2k sorry for not getting back sooner.

If I understand correctly, you are trying to store a reference to the `UITextView` inside your table cell in a property in your `TableScreen` `UIViewController` called `journalTextView`, and the set the text of the `UITextView` to match the last value it was set to whenever the cell is recycled so that you won't lose the text if the cell moves off the scr

[2018-09-28 04:57] den2k commented on #146
I can now pull value back into the controller from my UITextView. There is a separate issue but should not be related to Layout, so THANKS!

[2018-09-28 04:57] #146 closed

[2018-10-05 17:02] bourquep opened #147 "EKEventEditViewController cells are tiny whenever the 'Layout' pod is included in my project"
See the [attached Xcode project](https://github.com/schibsted/layout/files/2451361/EKTest.zip) for a repro, which consists of a plain view controller which presents an `EKEventEditViewController` modally.

Here's what it looks without the `Layout` pod (simply comment out the `pod Layout` line in the podfile, or run the project before doing `pod install`):

<img width="526" alt="image" src="https:/

[2018-10-08 15:00] nicklockwood commented on #147
@bourquep fixed in Layout 0.6.31. Thanks for reporting it!

[2018-10-08 15:00] #147 closed

[2018-10-11 14:49] matthew-reilly commented on #133
You should be able to utilize standard XML schemas - all IntelliJ-based editors will utilize those constraints.

[2018-10-11 21:06] algrid opened #149 "View structure changes from code"
Suppose I have a view controller conforming to `LayoutLoading` and its view structure is created using Layout framework.

Later I want to change its view structure by changing some view frames, adding or removing some views. Am I allowed to do this? Or maybe the only thing I can do is to set the state of my layout node?

I'm asking because I'm getting some weird behavior when I try to change my vi

[2018-10-12 09:20] nicklockwood commented on #149
@algrid this isn't really recommended. Layout wants to control the frames of all views that it creates, so if you change them there's a good chance it will override your changes.

Other properties should be OK to change directly, but note that if you set `isHidden` then Layout won't automatically move the neighboring views to fill the gap, which it would do if you used Layout to hide the view.

In

[2018-10-12 14:16] nicklockwood commented on #149
@algrid auto size is based mainly on the intrinsic size of a view, so changing the intrinsic size and calling update should work. In some cases it may update automatically, but that isn't always reliable. I'll have a look at AttributedTextView and see there's a bug in how Layout interacts with it.

Setting `isHidden` to true in Layout doesn't remove the view from the hierarchy, but it may set it's

[2018-10-12 14:20] algrid commented on #149
@algrid When you're talking about "calling update" do you mean `self.layoutNode?.update()`? I have to try it :)

[2018-10-14 21:05] algrid commented on #149
@nicklockwood  just tried `update()` and with `UILabel` at least (after its contents change) it works well, thanks!

But with `UITextView` I found a problem: if I set

[code]

then it seems to have well defined `intrinsicContentSize`. But Layout seems to ignore it.

[2018-10-17 02:23] Dragonspell99 opened #150 "Problem with UILabel text wrapping the view's intrinsic width in an expression."
I'm trying to create a UILabel that will size itself automatically according to the following rules:

1. When the text length is short, the UILabel width should match the intrinsic content size. In other words, the label should grow or shrink to wrap the intrinsic content size.
2. When the width of the label exceeds a certain threshold, it should stop growing in width and wrap to another line so t

[2018-10-17 07:55] nicklockwood commented on #150
@Dragonspell99 it looks like a bug - I'll investigate.

In the meantime, it works if you use `min(auto, 100%)`, so you can get the same effect by wrapping the label in a fixed-width container view:

[code]

[2018-10-17 07:57] nicklockwood commented on #149
@algrid thanks for reporting it, I'll investigate.

[2018-10-17 11:29] rachel-13 opened #151 "Crashing after updating to 0.6.32"
Hi,

I am getting the following error after updating to 0.6.32. I ran my project on iOS 12 simulator. Our app supports down to iOS 9. Could it be our min supported version giving us this error?

`2018-10-17 19:20:19.154410+0800 photobook[44452:5229739] -[_UIButtonBarStackView layout_intrinsicContentSize]: unrecognized selector sent to instance 0x7fe0ebf09db0
2018-10-17 19:20:19.208945+0800 photobo

[2018-10-17 11:49] nicklockwood commented on #151
@rachel-13 this looks like a bug introduced in the latest release. I'll investigate and get back to you.

It might be worth reverting to 0.6.30 or 0.6.31 in the meantime if those versions weren't causing any issues for you on iOS 12.

[2018-10-17 13:16] nicklockwood commented on #151
@rachel-13 do you have a sample project I can use to reproduce this? I'm struggling to see what might be causing it.

[2018-10-17 14:07] nicklockwood commented on #151
@rachel-13 is it possible that this crash was happening with version 0.6.31 and not 0.6.32?

[2018-10-17 21:32] Dragonspell99 commented on #150
@nicklockwood Thanks for the prompt reply!

I've tested your suggestion and it works great. Unfortunately, I'm having trouble applying it to my desired layout. I simplified the code example above to focus on the problem but in my real layout, I already have the UILabel wrapped by a UIView whose width depends on its children. Therefore, I can't set it to a fixed width and trying to reference it oth

[2018-10-18 02:43] rachel-13 commented on #151
Hi @nicklockwood,

 0.6.30 is works fine and there are no crashes. I just built my project with 0.6.31 and can confirm it is still crashing but on this version I didn't get a crashlog but rather my project keeps stopping at the following function.
[code]

[2018-10-18 11:56] nicklockwood commented on #150
@Dragonspell99 as far as I can see, there's no way to do this with the current release. I've pushed a fix to the [develop branch](https://github.com/schibsted/layout/tree/develop) that should make it work as you've written it above. Can you try it out and see if it solves your use-case?

[2018-10-18 14:37] nicklockwood commented on #150
@Dragonspell99 great. I'll do some more testing and assuming everything's OK with the other test projects I'll push a release with those changes asap.

[2018-10-22 07:47] vegidio opened #152 "Creating a custom UICollectionViewCell"
I'm trying to create a custom `UICollectionViewCell`, but I'm having some problems. Here is what I'm doing:

1. I created a cell layout called `MyCustomCell.xml`:

[code]

2. I created a custom `UICollectionViewCell` called `MyCustomCollectionViewCell.swift` that reads the layout above:

[code]

Then I tried to use this custom cell in my `UICollectionView`. My collection view also uses Layout and

[2018-10-22 07:49] vegidio opened #153 "Create custom UICollectionViewCell"
I'm trying to create a custom `UICollectionViewCell`, but I'm having some problems. Here is what I'm doing:

1. I created a cell layout called `MyCustomCell.xml`:

[code]

2. I created a custom `UICollectionViewCell` called `MyCustomCollectionViewCell.swift` that reads the layout above:

[code]

Then I tried to use this custom cell in my `UICollectionView`. My collection view also uses Layout and

[2018-10-22 09:35] nicklockwood commented on #150
@Dragonspell99 I've not worked out why this is happening yet, but replacing `right="PADDING"` with `left="parent.width - width - PADDING"` in the UIImageView seems to fix it.

To be clear, these should be equivalent, so this is definitely a Layout bug, but the workaround should allow you to proceed for now.

[2018-10-22 10:44] vegidio commented on #153
Sorry, I created a duplicated ticket. I'm closing this one

[2018-10-22 10:44] #153 closed

[2018-10-22 12:50] nicklockwood commented on #152
@vegidio calling `loadLayout(named: "...")` loads the contents of that xml file as a subview of the view that called it. The root node in your `MyCustomCell.xml` file is a `UICollectionViewCell`, and you are loading it inside a subclass of `UICollectionViewCell`, so you are effectively trying to mount one cell inside another one.

It's fine to load the contents of a custom cell from an xml file li

[2018-10-23 03:38] wpcfan opened #154 "layoutdidload not called when nested layout used"
I modify the sample app to make BoxViewController implements the LayoutLoading protocol, and in BoxViewController's `func layoutDidLoad(_: LayoutNode)`  , I am trying to set something up, but apparently it did not work as I expected -- the method will not be called.

Is this behavior by design? if it is, what else can I do to set up something after subview's layout node loaded

[2018-10-23 07:35] nicklockwood commented on #154
@wpcfan the LayoutLoading protocol is only used for classes that actually call `loadLayout()` themselves to load their contents from an XML file.

For a view or controller whose layout is loaded by another class (like `BoxesViewController`) you can override the `layotuNode` property and add your own `didSet` handler. This has actually already been done in `BoxesViewController`, and is used to set

[2018-10-23 13:20] wpcfan commented on #154
Thanks for pointing it out. But I think a lifecycle hook is better, sometimes, I need to setup something when all things ready including the outlets connected. But in the setter, we cannot guarantee all things ready. I want to have a hook like `viewDidLoad` 。

for example, if we want to do something related to tableview in layoutNode setter, the tableview will be nil, of course, I can do tableview

[2018-10-24 14:20] Dragonspell99 commented on #150
Ok. This works fine for my scenario. Thanks!

[2018-10-28 03:05] wpcfan commented on #154
finally figure it out , so for nested xml, I am able to do the setups in parent controller's layoutDidLoad. closing the issue.

[2018-10-28 03:05] #154 closed

[2018-10-31 11:03] algrid opened #155 "Macro for font name is not working"
Hello,

I'm trying to use a macro for a `UILabel` font like this:

[code]

It works fine with the `TITLE_W` but for `TITLE_FONT` I get:

[code]

It would be nice to have this feature supported.

[2018-10-31 11:13] nicklockwood commented on #155
@algrid try`font="{TITLE_FONT}"` instead.

[2018-10-31 11:22] algrid commented on #155
@nicklockwood Tried that, I'm getting "Unexpected token `13` in font expression in UILabel...".

When I use `Roboto-Medium 13` directly it works fine.

[2018-10-31 11:32] algrid commented on #155
@nicklockwood
This time I get:
<img width="358" alt="screen shot 2018-10-31 at 1 30 10 pm" src="https://user-images.githubusercontent.com/6792526/47785354-29301680-dd11-11e8-9a62-63ab29bee77c.png">

Maybe it's interpreting that dash as a minus sign and trying to calculate it...

It's not critical for me now, just wanted to report it :)

[2018-10-31 11:35] nicklockwood commented on #155
@algrid ah, I think I see the problem. It's interpreting `Roboto-Medium 13` as an expression, not a string. try:

[code]

(Note the single ' ' quotes around 'Roboto-Medium 13')

[2018-10-31 11:38] algrid commented on #155
@nicklockwood

Works like this:

[code]

Thanks!

[2018-11-03 16:07] TwunTee commented on #137
Sorry for the delayed response, I wasn't able to reproduce it another app too. Guess it is a problem with that project alone. Will open the issue again in case if i can find why it is happening in that project

[2018-11-03 20:12] nicklockwood commented on #137
@TwunTee no problem, thanks for following up!

[2018-11-04 04:15] TwunTee opened #156 "Accessing optional array value"
Similar to the issue #126 I am not able to access the value of a optional array value using {array[0].value}. Gives me the error

"""
Layout error: Attempted to subscript Optional<Array<Comments>> value stylists in text expression in UILabel in UIView in PostCell in post_cell.xml
"""

[2018-11-04 09:24] TwunTee opened #157 "Weird Bug when using two different custom cellview in different tableviews"
I am facing a strange bug where the content overlaps like a glitch in tableview. I am using tabbar with two view controllers and each viewcontroller has a tableview with different single custom cell. The first viewcontroller seems  to have no problem initially but if i switch tab the second viewcontroller would be messed up and then i come back to the first it would get messed up too as i scroll.

[2018-11-04 09:42] TwunTee commented on #157
When using same cell - https://vimeo.com/user91355387/review/298820529/114fdca082
When using different cell - https://vimeo.com/user91355387/review/298820539/5ec6e70cf4

Tried changing the cells between view controllers keeping same layout still the same problem happens

[2018-11-04 09:57] TwunTee commented on #157
https://github.com/TwunTee/LayoutBug

Made a sample project for the bug

[2018-11-05 15:33] cadrega opened #158 "SIGABRT when trying to instantiate a subclass of UITableView"
I created a subclass of UIButton in swift:

[code]

and added it successfully to an XML:

`<MyView backgroundColor="red" ...></MyView>`

However, changing the swift file to:

[code]

results in the sending of SIGABRT to thread 1, and

is printed in the Xcode output.

Xcode 9.3.1, trying to play with the Layout SampleApp, modifying the Table example.

[2018-11-05 16:37] TwunTee commented on #158
Can you post the full stacktrace would be easier to know what is happening

[2018-11-05 17:43] nicklockwood commented on #157
@TwunTee there doesn't seem to be an Xcode project in the sample you uploaded.

[2018-11-06 08:14] cadrega commented on #158
Stack trace is:

[code]

Layout is version 0.6.32, the only modified/added files are attached here
[Archive.zip](https://github.com/schibsted/layout/files/2552154/Archive.zip)

[2018-11-06 13:41] TwunTee commented on #157
I corrected the error. I wanted to strip off the company details as I was using my office desktop

[2018-11-10 15:34] den2k opened #159 "Nested outlets and nested layout"

[2018-11-10 15:34] #159 closed

[2018-11-10 19:42] den2k opened #160 "Nested Layout node troubles"
I am trying to do the following nested layouts with no luck.  If I have outlets defined ONLY inside the VC1 class - I can reference the 'userName' property.  Or if I have outlets defined for ONLY VC2 - I can reference the 'isTimerRunning' property.

But when I have VC2.xml called through VC1.xml the simulator throws the error:
- Unknown property isTimerRunning...

Strangely - when I remove the out

[2018-11-13 11:07] cadrega commented on #158
Since I needed to subclass UITableView for adding some custom code, but that lead to the above crash, I subclassed UIView and instead added a UITableView as a subview of my subclass.
This is a workaround path that can be followed in the meantime, hoping that this can be sorted out soon!

[2018-11-13 11:18] cadrega commented on #90
Actually, I have a use case for this: I'm evaluating Layout for use in a new iOS app which will show a dynamic user interface, which will be communicated by another computer in the local network.
I evaluated all my needs and it seems that Layout is the way to achieve this (and I greatly thank you, @nicklockwood for this great work!), but as of now I'm forced to receive the XML data from the comput

[2018-11-13 11:32] nicklockwood commented on #160
@den2k try using `template="..."` instead of `xml="..."` to include your nested layouts.

[2018-11-13 15:37] cadrega commented on #90
It was less difficult than I thought ;-)
I created [this pull request](https://github.com/schibsted/layout/pull/161) with the needed changes.
Please note that I'm not used at all with git nor GitHub, and this is my **very first** pull request.
It works for me, but I'd really love if this could be merged to the next official 0.6.x or 0.7.x release.
Thanks!

[2018-11-14 07:42] wpcfan opened #162 "What is the proper way to initialize a layout-based viewcontroller in another layout-based viewcontroller?"
I have a similar setup with the Sample App, i.e. I have a tabviewcontroller and 3 tabs: Home, Social and Me. In the MeViewController, I want to launch a drawer-like viewcontroller (which is also  layout-based) when clicking the left nav button, but I ran into an exception, so I would like to know what is the recommended way to do this

![image](https://user-images.githubusercontent.com/85388/48467

[2018-11-16 06:59] den2k commented on #160
I made the following change but the same error occurs.  I'm still a bit baffled by what is happening. I'm not so experienced with swift or layout to know exactly where things are going wrong.

This is what I changed. Everything else stayed the same.  Pretty sure I'm not using template in the way it is intended.  Thank you.

VC2.xml
[code]

[2018-11-16 08:31] nicklockwood commented on #160
@den2k I think it’s probably a race condition, where isTimerRunning is being evaluated before the @IBOutlet setter that sets its state is being called.

There are a few options for how to fix that, but I’ll need to recreate the project and try it out to see what works best.

I’ll try that and get back to you.

[2018-11-16 10:44] nicklockwood commented on #160
@den2k OK, this seems to work. Add the following to your VC2 class:

[code]

Basically this ensures that the state variable exists at the time of the initial creation of the VC.

You can still keep the VC2Node outlet didSet as well if you want, in which case the value for `isTimerRunning` inside the create method doesn't actually matter (as long as it's non-nil) because it will be immediately over

[2018-11-16 11:45] nicklockwood commented on #162
@wpcfan can you include your SideBarViewController.xml file?

[2018-11-16 11:46] nicklockwood commented on #160
@den2k I've got a fix for the race condition. I'll push a new release with the fix - then your original code should work.

[2018-11-16 11:55] #155 closed

[2018-11-16 12:17] nicklockwood commented on #160
@den2k OK, this should be fixed in the latest release.

[2018-11-16 12:17] #160 closed

[2018-11-16 16:17] wpcfan commented on #162
the xml is as follows, just a very simple tableview

[code]

[2018-11-16 16:48] wpcfan commented on #162
So I figure it out, If I change Example.SideBarViewController to UIViewController, all problems gone. But I don't understand, so when to use UIViewController instead of a specific controller name?

[2018-11-16 18:07] nicklockwood commented on #162
@wpcfan it should work if you just remove the outer view controller from your XML and leave the tableView.

You cannot load a class from inside itself, so what was happening is that the SideBarViewController was loading a new instance of SideBarViewController from the xml and then trying to add it as a child to itself.

When you changed it to a regular UIViewController, it started adding that UIVC

[2018-11-17 01:55] wpcfan commented on #162
@nicklockwood thanks for detailed clarification, very helpful. closing this issue

[2018-11-17 01:55] #162 closed

[2018-11-18 14:18] den2k commented on #160
Thank you. I just updated Layout to v0.6.33 and this has fixed the problem.  I went back to the original code structure at the beginning of the post, and it works well!  Thanks again!

[2018-11-19 08:20] TwunTee commented on #157
@nicklockwood Any idea what might be causing the problem and are there any way to reference outlets without using a custom cell. Any workaround or help would be great. Please do let me know if I can make it easier to debug

[2018-11-20 11:16] TwunTee commented on #157
After trying out various things I remembered not having this problem before so I downgraded and it seems to have fixed the problem. The problem seems to be happening with versions after 0.6.30. I downgraded to 0.6.30 and the bug disappeared.

[2018-11-27 04:33] wpcfan opened #163 "best practice to make use of pageviewcontroller in layout"
I'd like to implement a tabbar controller positioned at top, so I think of using UIPageViewController, but I did not find the document about this? Is it possible to use the controller? any example? Thanks in advance

[2018-11-28 20:00] ayrtonsoftware opened #164 "Getting a layout error bricks the app"
My app allows the user to edit the layout and redisplay. But when an error happens, the whole windows is taken over and there is no way back to the code editor.

[2018-11-28 20:24] nicklockwood commented on #164
@ayrtonsoftware you can disable the layout error console using `LayoutConsole.isEnabled = false`, or hide it programmatically using `LayoutConsole.hide()`.

[2018-11-28 20:41] Dragonspell99 opened #165 "Localized Strings in UITableViewCell"

[2018-11-29 11:03] nicklockwood commented on #165
@Dragonspell99 I have encountered a few bugs around this previously to do with the table cell not sharing the scope of the containing Layout. I thought I'd fixed them all, but I guess not.

If you could provide concrete steps to reproduce the issue that would be helpful.

[2018-11-29 11:04] nicklockwood commented on #158
@cadrega this should be fixed in the latest release: 0.6.34. Let me know if not.

[2018-11-29 11:04] #158 closed

[2018-11-29 11:04] nicklockwood commented on #157
@TwunTee sorry for not getting back to you sooner. I believe I've fixed this in the latest release (0.6.34), but let me know if it's still happening.

[2018-11-29 11:04] #157 closed

[2018-11-29 11:05] nicklockwood commented on #151
@rachel-13 I think I may have found the issue. Can you check the latest release (0.6.34) and see if it's solved your crash?

[2018-11-29 13:07] wpcfan commented on #163
thanks for clarification, closing this issue

[2018-11-29 13:07] #163 closed

[2018-11-29 15:49] rachel-13 commented on #151
I am currently no longer with the organisation which uses Layout. But I will get someone to update it to 0.6.34 to follow up on this.

[2018-11-30 05:30] ayrtonsoftware commented on #164
@nicklockwood, thanks. This will work on getting rid of the console, but how to I get the errors? I will display them in my own UI. - Thanks

[2018-11-30 11:03] nicklockwood commented on #164
@ayrtonsoftware the error parameter only catches errors that occur during loading. To catch other errors you will need to implement the  `func layoutError(_ error: LayoutError)` delegate method in your Layout ViewController.

[2018-12-01 05:52] momamene commented on #151
I've also got the same error after updating to 0.6.32, which was not occured in 0.6.30.
`unrecognized selector sent to instance` error was solved when I updated to 0.6.34.

But the another error occurred when I'm using UICollectionView.
It seems that there are infinite loop in [UICollectionView. layout_intrinsicContentSize](https://github.com/schibsted/layout/blob/0.6.34/Layout/UICollectionView%2B

[2018-12-01 10:45] nicklockwood commented on #151
@momamene sorry, that was missed in the previous fix. I've pushed another update (0.6.35) that should solve it.

[2018-12-02 08:47] momamene commented on #151
Fixed! Thank you so much!
Layout would be the best UI framework in all of iOS projects.

[2018-12-04 08:56] TwunTee commented on #157
The latest release fixes that issue, thanks!!

[2018-12-16 02:21] sidhenn opened #167 "Long Press Gesture?"
I need to add a Long Press Gesture to an existing UICollectionView cell in Layout but having  problems.

This is the extra code.

[code]

I also added the following to viewDidLoad()

[code]

[2018-12-18 23:03] chh51 opened #168 "Additional examples of layout: chh51/layoutExample"
As part of learning 'layout' and verifying that it will accomplish what I need I am building a set of example apps of increasing complexity.
https://github.com/chh51/layoutExample
1) Any suggestions are welcomed
2) You may want to link to this on your README, since the examples may be useful to others

[2018-12-18 23:21] nicklockwood commented on #168
@chh51 that sounds amazing! I'll take a look, thanks!

[2019-01-14 07:36] ost12666 opened #169 "Hot reloading does not work for XML not in the main bundle"
Probably because of this code assumes main bundle:

            let bundlePath = **Bundle.main.bundleURL.absoluteString**
            if xmlURL.absoluteString.hasPrefix(bundlePath) {

LayoutLoader.swift line 276

[2019-01-15 07:59] ost12666 commented on #169
Also if I run the app from Xcode then I would load the layout XML from the framework bundle successfully but if I am running the app directly from the simulator I get the red screen because XML is not found

[2019-01-19 17:41] den2k commented on #167
Anyone have thoughts on this.  Not working using 0.6.35.

Thanks.

[2019-03-15 15:26] EricWVGG opened #170 "Support for Swift Package Manager?"
feature request

(This thing looks wild, I'm digging in and love it so far. You should solicit a list of active projects that use this lib, more folks need to know about it)

[2019-03-15 21:45] nicklockwood commented on #170
I'm glad you're enjoying Layout!

With respect to your feature suggestion tho, Swift Package Manager doesn't support iOS and Layout only supports iOS :-)

[2019-03-16 17:56] EricWVGG commented on #170
lol duh. Didn't know that… I've been mostly working in the microcosm of server-side Swift for a while.

It's looking like the lack of support for SplitViewController and NavigationController might be a deal breaker after all. I'll keep on eye on this project, though. Good luck.

[2019-03-16 17:56] #170 closed

[2019-03-26 07:37] Kaspik opened #171 "Swift 5 compatibility for XCode 10.2"
Good morning Nick!

Almost year later - I'm here again. :) (For reference - https://github.com/nicklockwood/layout/issues/130)

XCode 10.2 has been released officially and it includes Swift 5. It looks like Layout needs (probably just one) small update - are you aware of that and are you planning another release for Swift 5?
Thank you!
<img width="1447" alt="Screenshot 2019-03-26 at 08 36 23" src=

[2019-03-26 09:57] nicklockwood commented on #171
@kaspik yes, I'll be shipping a Swift 5 compatible version shortly. Thanks for the PR!

[2019-03-26 10:08] Kaspik commented on #171
@nicklockwood It doesn't need to be compatible with swift 5 yet, but needs to be compatible with XCode 10.2 (even on Swift 4.2).

No problem! :)

[2019-03-26 10:18] #171 closed

[2019-03-26 19:05] nicklockwood commented on #171
@Kaspik fixed in version 0.6.36. Thanks!

[2019-03-31 03:41] TwunTee commented on #137
I was able to figure out the issue. I had overridden UILabel to include custom property types.

"""
extension UILabel {

    open override class var expressionTypes: [String: RuntimeType] {
        var types = super.expressionTypes
        types["date"] = RuntimeType(Date.self)
        return types
    }

    open override func setValue(_ value: Any, forExpression name: String) throws {
        sw

[2019-03-31 04:51] TwunTee commented on #137
The local extension of the computed property has made it ignore the extension of the Layout module i suppose. As a temporary workaround I copied the overridden types in Layout module and i am not facing that issue.

[2019-04-21 05:59] roshanman opened #173 "can we build a layout kit like flutter."

[2019-05-26 13:37] 913868456 commented on #57
but we need to switch two editors in Xcode and Sublime Text. Maybe that`s a bad experience 😭

[2019-06-04 11:36] Kaspik opened #174 "Swift 5.1 - Compile error"
Hey Nick again!

I know it's super early but opening this issue so you can take a look on it as well if interested and maybe also create branch `master_xcode11` that would be buildable on new XCode with Swift 5.1.

Currently the library is not working there as:

[code]
on line
[code]
throws error: `Partial application of 'mutating' method is not allowed`.

Thank you! :)

[2019-06-04 19:05] #174 closed

[2019-06-04 21:10] Kaspik commented on #174
Thank you @nicklockwood for quick response and merging! Looking forward to see it on CocoaPods soon and be able to build project again 🚀

[2019-06-25 07:12] rameezhandel opened #176 "Dynamic cell height for collection view"
Could you please tell me how I can create a dynamic height collectionviewcell xml using this library?

[2019-07-09 16:32] algrid opened #177 "UITableView.tableHeaderView support"
Thank you for the great library!

This is a feature request. It would be nice to support the `tableHeaderView` property of `UITableView`. Section headers are supported, but sometimes one needs a main header for the whole table.

[2019-07-09 16:46] nicklockwood commented on #177
If you add a nested <View> inside the table, it should get assigned as the header automatically.

[2019-07-09 17:13] algrid commented on #177
@nicklockwood Thank you, it works!

For some reason GitHub search is giving me no results for "tableHeaderView" - that's why I thought it's not implemented.

[2019-07-09 17:16] akramhussein opened #178 "SamplesApp crashes on Xcode 11 beta 3"
XCode version: `Version 11.0 beta 3 (11M362v)`

Couple clicks on Simulator and crashes with nothing more than:

`libc++abi.dylib: terminating with uncaught exception of type NSException`

[2019-07-09 19:27] akramhussein commented on #178
Sorry, I appreciate this is very vague so let me know if you are need anything else.

Essentially, upon compiling and running on an iPhone Xr simulator with XCode `Version 11.0 beta 3 (11M362v)`, and tapping on a few items on the screen, none of which really respond/lag, it crashes with no useful stack trace.

Upon further testing, it does seem to work but is very slow, in particular scrolling.

[2019-07-10 15:09] #177 closed

[2019-07-11 16:05] algrid opened #179 "UITableViewCell subclass using an xml layout"
Is there a way to achieve that?

When I'm trying something like this:

[code]

I'm getting the following error: _Type 'MyTableViewCell' does not conform to protocol 'LayoutLoading'._

My original problem is that I want to use a library like **Kingfisher** or **SDWebImage** to load an image inside my cell. `layoutNode.setState` doesn't allow that, so it looks like I need an outlet, but I don't know

[2019-07-22 18:25] mgamer commented on #178
Just chiming in with the same issue. It seems quite critical. @nicklockwood do you plan on supporting Layout for iOS 13? We love the library and would gladly use it for our new products (and hopefully provide our own pull requests at some point).

[2019-07-22 18:42] akramhussein commented on #178
I concur, this library is so good and while `SwiftUI` may take some wind out of it, we still need to support older iOS versions that `SwiftUI` won't so I can't see us switching away from `Layout` any time soon! I'm happy to support Layout/@nicklockwood through `Github Support` too.

Otherwise, happy to more debugging with a little direction.

[2019-07-22 19:11] nicklockwood commented on #178
Sorry for the radio silence. I've not had a chance to look at this yet, but I will definitely make sure Layout is ready for iOS 13 before release.

[2019-08-04 16:10] nicklockwood commented on #178
Fixed in 0.6.38

[2019-08-04 16:10] #178 closed

[2019-08-04 20:30] benjamincassidy commented on #179
This happens with `UICollectionViewCell` subclasses as well.

[2019-08-17 21:21] tengfoung opened #180 "UITextField causing unresponsive in iOS 13"
Everything else seems to work fine except when tapping away on focused UITextField, the app become unresponsive. It is reproducible using `SampleApp` project provided in the repository.

#### Details:
Xcode 11 Beta 5 (11M382q)
iOS Simulator iPhone XR (iOS 13)

#### Steps to reproduce:

1. Simply add the UI component as such in Text.xml:
[code]
2. Run the `SampleApp` scheme.
3. Go to `Text` tab.
4.

[2019-08-26 14:47] tcurdt commented on #170
This should be reopened, no?

[2019-09-01 01:02] sebleclerc commented on #178
I had the same problem in my app using iOS13. Everything is fine now, thanks !

[2019-09-01 15:39] nicklockwood commented on #180
I've not been able to reproduce this.

[2019-09-17 12:55] cadrega commented on #158
Sorry for the late reply, but I can confirm the fix (although at this time, I skipped 0.6.34 and tested directly 0.6.38)

[2019-09-22 01:35] neptunus opened #182 "Trouble with UIStackView.addArrangedSubView"
When adding arranged subviews to a Layout stack view programmatically, it doesn't update its height from the initial 0, so all the subviews get placed at (0, 0).
However, when I add the subviews to the stack view XML, they stack up correctly — they're probably calculating their children's heights in that case.

So does anyone know what I'm missing?
I guess I want to confirm (before I spend more ti

[2019-09-23 09:11] momamene opened #183 "Standalone bundle cannot be referenced in Xcode 11 on iOS < 13"
When I update Xcode 11, Layout seems to work fine. but I noticed that resource loading is failed under iOS 13. The problem not occurred in Xcode 10.

I've created a sample app for simulating.
https://github.com/momamene/SampleLayoutApp

You can find that the image in `CustomBundle` cannot be found at `SampleLayoutApp` on iOS 12 or below, but rendering is successful in iOS 13.

This problem occurre

[2019-09-24 00:08] sebastienwindal opened #184 "iOS 13, Xcode 11 infinite loop related to the swizzled layoutSubviews()"
We have a custom view and we overrode layoutSubviews() as recommended:

[code]

and it would appear the app is stuck in some kind of infinite loop, our custom view layoutSubviews () and layout_layoutSubviews() being called forever and blocking the main thread

[code]

[2019-09-25 12:47] cadrega opened #185 "Setting any UIView property at runtime from string property name and string property value"
Hi @nicklockwood !
Layout is really great at creating completely custom and dynamically server-side created GUIs.

However, I would like to alter the GUI appearance at runtime, based on a server-side implementation.
To do so, in my ViewController which hosts a mounted LayoutNode, I created a method that will be called after receiving a message from the network:

[code]

This already works flawless

[2019-09-26 13:08] cadrega commented on #185
This was easier than I thought.
I'm a swift newbie, so my code could be surely improved, but here's the pull request about the new method on UIView+Layout: #186

[2019-09-28 08:47] momamene commented on #183
I've found that there is a bug of Xcode 11 that it is failed to instantiate image from asset catalog linked with a custom bundle on iOS 12.

So I created an issue to Apple Developer Forum. But it would be very helpful to find a workaround.
https://forums.developer.apple.com/message/385316#385316

[2019-10-01 07:02] matape commented on #184
Same here! Endless loop on iOS 13.1.1 with Layout.
Just on loading the first VC using `self.loadLayout()` the app is running in endless loop.

<img width="525" alt="Bildschirmfoto 2019-10-01 um 09 01 41" src="https://user-images.githubusercontent.com/29303125/65940962-290d2f00-e42a-11e9-9e88-9384294c6a81.png">

[2019-10-03 23:14] comm1x commented on #184
It is not still fixed? We can't release the apps cause of this, damn :(

[2019-10-03 23:19] comm1x commented on #184
@matape I got the same issue on 0.6.36.
Updating to 0.6.38 fix this issue.

[2019-10-04 07:10] nicklockwood commented on #184
@sebastienwindal @comm1x can you provide a larger code sample? I'm having trouble reproducing the problem.

[2019-10-13 01:33] wpcfan opened #187 "remove uiwebview as Apple will not accept submission of app containing UIWebView usage"

[2019-10-13 18:15] nicklockwood commented on #187
@wpcfan fixed in 0.7.0.

[2019-10-13 18:15] #187 closed

[2019-10-25 19:57] Kaspik commented on #170
@nicklockwood Morning! SPM is now fully integrated into XCode 11, could this be reopened or implemented? :) Thanks!

[2019-10-28 10:41] nadrka opened #188 "After upgrading to macOS Catalina application gets stuck on the Launch screen"
Hi!
After upgrading my operating system to Catalina (macOS 10.15), my application that is using Layout gets stuck on the launch screen. I don't have any compilation errors or warnings and I don't get any crash at runtime. There is nothing new shown in debug logs as well. It worked fine in the previous macOS version (High Sierra 10.14). My other applications that are not using this Pod, don't get s

[2019-11-11 02:09] #183 closed

[2019-12-26 22:10] akramhussein commented on #188
Also have this issue. I received this error:

[code]

[2020-01-26 18:45] ayrtonsoftware commented on #179
Maybe late..... but here goes...

`class LayoutView: UIView, LayoutLoading {

    public func load(fact: Fact, template: Template, width: CGFloat, height: CGFloat) {
        if let layoutUrl = template.layoutFilePath() {
            var constants: [String : Any] = [:]
            template.layout?.bindings.forEach({ (binding: CellLayoutBinding) in
                constants[binding.key] = fact.getAn

[2020-06-14 00:46] elango commented on #169
Hi,
I have faced the same issue when creating a universal framework using this library.

This might help someone who encounter the same issue.

One way to fix this is, read the XML content using the bundle and write it temporary or documents folder. Then If you try to access it from the document folder, it works fine.

You can keep a check if the file exists on the documents folder, you can skip w